/******** General CSS *********/
.dcdt-clearfix:before, .dcdt-clearfix:after{content: "";display: table;}
.dcdt-clearfix::after{clear: both;}
.dcdt-countdown-timer{margin: 0 auto;}
.dcdt-countdown-wrp { margin: 15px 0; }
.dcdt-error{color: #a94442;}
.dcdt-hide{display:none;}

/**** Sold Out Product Progress Bar CSS ****/
.dcdt-product-in-stock { display: block; margin-bottom: 15px; }
.dcdt-product-in-stock span { font-size: 16px; }
.dcdt-product-in-stock span b { color: #DC3232; }
.dcdt-stock-proress-bar { height: 12px; overflow: hidden; background-color: #eaeaea; border-radius: 4px; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1); max-width: 320px;}
.dcdt-stock-proress-bar .progress-bar { float: left; width: 0; height: 100%; font-size: 12px; line-height: 12px; color: #fff; text-align: center; background-color: #DC3232; -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); -webkit-transition: width .6s ease; -o-transition: width .6s ease; transition: width .6s ease; -webkit-animation: dcdt-progress-bar-stripes 2s linear infinite; animation: dcdt-progress-bar-stripes 2s linear infinite; -moz-animation: dcdt-progress-bar-stripes 2s linear infinite; }
.dcdt-stock-proress-bar .dcdt-progress-bar-inn { background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); background-size: 20px 20px; }
@-webkit-keyframes dcdt-progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-o-keyframes dcdt-progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@keyframes dcdt-progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

/********** Circle & Circle Fill Style CSS *******/
.dcdt-countdown-timer-cf { float: left;}
.dcdt-countdown-timer-cf .dcdt-clock .ce-col{display: inline-block;margin-right:10px;text-align: center;}
.dcdt-countdown-timer-cf .dcdt-clock .dcdt-timer-digits {display: block;font-weight: 300;margin-bottom: 5px}
html:not([class*='ce-ie']) .dcdt-countdown-timer-cf .dcdt-clock .dcdt-timer-digits {-webkit-perspective: 1000px;-moz-perspective: 1000px;-ms-perspective: 1000px;perspective: 1000px;}
.dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap{position: relative;}
html:not([class*='ce-ie']) .dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap{-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transition: 0s;-moz-transition: 0s;transition: 0s;}
html:not([class*='ce-ie']) .dcdt-countdown-timer-cf .dcdt-clock .ce-animate .ce-flip-wrap{-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);-webkit-transition: 0.6s;-moz-transition: 0.6s;transition: 0.6s;}
.dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-front,
.dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-back{left: 0;position: absolute;top: 0;width: 100%;border-radius:100%;}
html:not([class*='ce-ie']) .dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-front,
html:not([class*='ce-ie']) .dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-back{-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;backface-visibility: hidden;}
html:not([class*='ce-ie']) .dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-back{-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-ms-transform: rotateY(180deg);transform: rotateY(180deg);}

@media screen and (min-width: 320px) and (max-width: 479px) {
	.dcdt-countdown-timer-cf { text-align: center; }
	.dcdt-countdown-timer-cf .dcdt-clock .ce-col { margin-right: 5px; width: 65px; }
	.dcdt-countdown-timer-cf .dcdt-clock .dcdt-timer-digits { font-size: 25px; height: 65px; line-height: 65px; margin-bottom: 5px; }
	.dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-front, 
	.dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-back { height: 65px; }
	.dcdt-countdown-timer-cf .dcdt-clock .dcdt-timer-label { font-size: 15px; }
}

@media screen and (min-width: 480px) and (max-width: 640px) {
	.dcdt-countdown-timer-cf { text-align: center; }
	.dcdt-countdown-timer-cf .dcdt-clock .ce-col { width: 80px; }
	.dcdt-countdown-timer-cf .dcdt-clock .dcdt-timer-digits { font-size: 25px; height: 80px; line-height: 80px; margin-bottom: 5px; }
	.dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-front, 
	.dcdt-countdown-timer-cf .dcdt-clock .ce-flip-wrap .ce-flip-back { height: 80px; }
	.dcdt-countdown-timer-cf .dcdt-clock .dcdt-timer-label { font-size: 15px; }
}

/******* EDD Sale Icon CSS ********/
.single-download .edd-download { position: relative; }
.single-download .edd-download .dcdt-edd-sale-flash-icon,
.single-download .edd-download .dcdt-edd-sale-ribbon-icon { display: inline-block; position: absolute; top: 20%; }
.edd-download .dcdt-edd-sale-flash-icon span { display: inline-block; width: 60px; border-radius: 100%; height: 60px; text-align: center; line-height: 60px; }
.edd-download .dcdt-edd-sale-ribbon-icon span { display: inline-block; }

.dcdt-column,
.dcdt-columns {  padding-left: 0.9375em;  padding-right: 0.9375em;  width: 100%;  float: left; position: relative;  }

@media only screen {
	.dcdt-column,  .dcdt-columns {position: relative;padding-left: 0.9375em;padding-right: 0.9375em; float: left; }
}
@media only screen and (min-width: 40.0625em) { 
		
	.dcdt-col-1 { width: 8.33333%; }
	.dcdt-col-2 { width: 16.66667%; }
	.dcdt-col-3 { width: 25%; }
	.dcdt-col-4 { width: 33.33333%; }
	.dcdt-col-5 { width: 41.66667%; }
	.dcdt-col-6 { width: 50%; }
	.dcdt-col-7 { width: 58.33333%; }
	.dcdt-col-8 { width: 66.66667%; }
	.dcdt-col-9 { width: 75%; }
	.dcdt-col-10 { width: 83.33333%; }
	.dcdt-col-11 { width: 91.66667%; }
	.dcdt-col-12 { width: 100%; }
	.dcdt-col-5c { width: 20%; }
}