/* general start */
.ibwp-spw-html { overflow: hidden; }
.ibwp_spw_wheel_icon { position: fixed; z-index: 999999; cursor: pointer; line-height: 1; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); border-radius: 50%; -webkit-animation-name: open-spin-rotate; -moz-animation-name: open-spin-rotate; -o-animation-name: open-spin-rotate; animation-name: open-spin-rotate; -webkit-animation-duration: 15s; -moz-animation-duration: 15s; -o-animation-duration: 15s; animation-duration: 15s; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; -o-animation-timing-function: linear; animation-timing-function: linear }
.ibwp-spw-inboundwp-pro-right h1, .ibwp-spw-inboundwp-pro-right h2, .ibwp-spw-inboundwp-pro-right h3, .ibwp-spw-inboundwp-pro-right h4, .ibwp-spw-inboundwp-pro-right h5, .ibwp-spw-inboundwp-pro-right h6, .ibwp-spw-inboundwp-pro-right p  { margin: 0;line-height:normal; }
h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before { content: none !important; }
.ibwp-spw-please-wait-msg { font-size: 22px; }
/* general end */

/* admin login start */
.admin-bar .ibwp-spw-inboundwp-pro-main { top: 32px; }
.admin-bar .ibwp-spw-content-wrap { padding:75px 0; }
/* admin login end */

/****** PopUp Icon Position *****/
.admin-bar .ibwp-spw-top-left.icon-show,
.admin-bar .ibwp-spw-top-right.icon-show { top: 37px; }
.ibwp-spw-top-left .icon-show { margin-left: 0px; transition: all 2s ease 0s; transform: rotate(-720deg); top: 5px; left: 5px; }
.ibwp-spw-top-left .icon-hide { margin-left: -110%; }
.ibwp-spw-top-right .icon-show { margin-right: 0px; transition: all 2s ease 0s; transform: rotate(-720deg); top: 5px; right: 5px; }
.ibwp-spw-top-right .icon-hide { margin-right: -110%; }
.ibwp-spw-middle-left .icon-show { margin-left: 0px; transition: all 2s ease 0s; transform: rotate(-720deg); top: 50%; left: 5px; }
.ibwp-spw-middle-left .icon-hide { margin-left: -110%; }
.ibwp-spw-middle-right .icon-show { margin-right: 0px; transition: all 2s ease 0s; transform: rotate(-720deg); top: 50%; right: 5px; }
.ibwp-spw-middle-right .icon-hide { margin-right: -110%; }
.ibwp-spw-bottom-right .icon-show { margin-right: 0px; transition: all 2s ease 0s; transform: rotate(-720deg); bottom: 5px; right: 5px; }
.ibwp-spw-bottom-right .icon-hide { margin-right: -110%; }
.ibwp-spw-bottom-left .icon-show { margin-left: 0px; transition: all 2s ease 0s; transform: rotate(-720deg); bottom: 5px; left: 5px; }
.ibwp-spw-bottom-left .icon-hide { margin-left: -110%; }

/* spin wheel left start */
.ibwp-spw-overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; display: none; z-index: 9999; background: rgba(0, 0, 0, 0.7); cursor: pointer;}
.ibwp-spw-inboundwp-pro-main { opacity: 0; position: fixed; left: 0; top: 0; transition: 1s; z-index: 99999; height: 100%; width: 100%; margin-left: -110%; box-shadow: 2px 0 11px #000; background-repeat: no-repeat !important; background-size: cover !important; background-position: center !important; }
.ibwp-spw-content-wrap { display: inline-block; position: relative; width: 100%; height: 100%; padding: 90px 0; box-sizing: border-box; }
.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-left { display: inline-block; position: relative; vertical-align: middle; }
.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-left .ibwp-spw-wheel-spin { position: relative; }
.ibwp-spw-wheel-spin #ibwp-spw-wheel { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 50%; display: block; vertical-align: middle; }
.ibwp-spw-wheel-spin #ibwp-spw-wheel-1 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 50%; display: block; vertical-align: middle; }
.ibwp-spw-wheel-spin #ibwp-spw-wheel-2 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 50%; display: block; vertical-align: middle; }
.ibwp-spw-content-wrap .ibwp-spw-wheel-container { position: absolute; text-align: center; vertical-align: middle; display: table; width: 100%; height: 100%; top: 0; left: 0; }
.ibwp-spw-content-wrap .ibwp-spw-pointer-content { right: -45px; position: absolute; top: 50%; transform: translateY(-50%); }
.ibwp-spw-content-wrap .ibwp-spw-pointer { background:transparent !important; width: 50px; height: 50px; -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.ibwp-spw-content-wrap .ibwp-spw-pointer:before { font-size:55px; }
.ibwp-spw-content-wrap .ibwp-spw-pointer:after { content: ""; position: absolute; background-color: #fff; width: 17px; height: 17px; bottom: 22px; left: 32%; box-shadow: 1px -2px 3px rgba(0,0,0,.3); border-radius: 50%; }
/* spin wheel left end */

/* spin wheel content right start */
.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right { z-index: 99; position: relative; padding: 10px; display: inline-block; vertical-align: middle; box-sizing: border-box; max-height: 450px; overflow-y: auto; }
.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right .ibwp-spw-wheel-desc {padding: 10px 0;}
/*.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right .ibwp-spw-wheel-desc ul { color: #ffffff; }*/
.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right .ibwp-spw-wheel-desc .ibwp-spw-wheel-title { text-transform: capitalize; font-size: 24px; border-top: 2px solid; padding: 10px 0px; text-align: center; border-bottom: 2px solid; margin: 0; font-weight: normal; }
.ibwp-spw-inboundwp-pro-right .ibwp-spw-wheel-desc .ibwp-spw-wheel-short-desc { padding-top: 10px; line-height: 20px; }
.ibwp-spw-inboundwp-pro-right .ibwp-spw-lucky-user { padding: 10px 0; }
.ibwp-spw-inboundwp-pro-right .ibwp-spw-lucky-user .ibwp_spw_input_field { color: #000000; font-size: 18px; line-height: normal; border: 1px solid #eeeeee; padding: 10px; width: 100%; box-sizing: border-box; margin: 0; }
.ibwp_spw_input_field::placeholder { color: #000000; }
.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right label { display: inline-block; width: 100%; position: relative; margin-bottom: 15px; }
.ibwp-spw-inboundwp-pro-right label .ibwp-spw-error-email { width:100%; float: left; font-size: 18px; border-radius: 4px; color: #a94442; font-weight: normal; background-color: #f2dede; border: 1px solid #ebccd1; padding: 7px; margin-top: 10px; }
.ibwp-spw-lucky-user .ibwp-spw-frontend-result { padding: 10px; font-size: 18px; font-weight: 300; color: #ffffff; }
.ibwp-spw-lucky-user .ibwp-spw-spin-button { font-size: 20px; cursor: pointer; padding: 10px 0; width: 100%; text-align: center; text-transform: uppercase; border: 0; line-height: normal; }
.ibwp-spw-lucky-user .ibwp-spw-spin-button:active { box-shadow: none; }
.ibwp-spw-lucky-user .ibwp-spw-spin-button:focus { outline: none; }
.ibwp-spw-close-wheel, .ibwp-spw-hide-after-spin { position: absolute; color: #ffffff; top: 5px; line-height: 25px; height: 25px; width: 25px; right: 5px; text-align: center; }
.ibwp-spw-hide-after-spin { display: none; }
.ibwp-spw-close-wheel .ibwp-spw-close, .ibwp-spw-hide-after-spin .ibwp-spw-close { font-size: 25px; cursor: pointer; display: inline-block; }
.ibwp-spw-term-condition { margin-top: 10px; }
.ibwp-spw-term-condition input[type="checkbox"] { width: 15px; height: 15px; vertical-align: middle; margin: 5px; }

.ibwp-spw-bottom-right,
.ibwp-spw-bottom-left,
.ibwp-spw-top-left,
.ibwp-spw-top-right,
.ibwp-spw-middle-left,
.ibwp-spw-middle-right { position: relative; }
.ibwp-spw-icon-tooltip { position: fixed; background: #000000; color: #ffffff; padding: 0 10px; border-radius: 5px; font-size: 20px; }

.ibwp-spw-bottom-right .ibwp-spw-icon-tooltip { bottom: 85px; right: 5px; }
.ibwp-spw-bottom-left .ibwp-spw-icon-tooltip { bottom: 85px; left: 5px; }
.ibwp-spw-top-left .ibwp-spw-icon-tooltip { top: 85px; left: 5px; }
.ibwp-spw-top-right .ibwp-spw-icon-tooltip { top: 85px; right: 5px; }
.ibwp-spw-middle-left .ibwp-spw-icon-tooltip { top: 44%; left: 5px; transform: translateY(-44%); }
.ibwp-spw-middle-right .ibwp-spw-icon-tooltip { top: 44%; right: 5px;  transform: translateY(-44%); }

.ibwp-spw-icon-tooltip:after,
.ibwp-spw-icon-tooltip:before { border: 1px solid #000000; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }

.ibwp-spw-middle-left .ibwp-spw-icon-tooltip:after,
.ibwp-spw-middle-left .ibwp-spw-icon-tooltip:before,
.ibwp-spw-middle-right .ibwp-spw-icon-tooltip:after,
.ibwp-spw-middle-right .ibwp-spw-icon-tooltip:before,
.ibwp-spw-bottom-left .ibwp-spw-icon-tooltip:after,
.ibwp-spw-bottom-left .ibwp-spw-icon-tooltip:before,
.ibwp-spw-bottom-right .ibwp-spw-icon-tooltip:after,
.ibwp-spw-bottom-right .ibwp-spw-icon-tooltip:before { top: 100%; }

.ibwp-spw-top-left .ibwp-spw-icon-tooltip:after,
.ibwp-spw-top-left .ibwp-spw-icon-tooltip:before,
.ibwp-spw-top-right .ibwp-spw-icon-tooltip:after,
.ibwp-spw-top-right .ibwp-spw-icon-tooltip:before { bottom: 100%; }

.ibwp-spw-top-right .ibwp-spw-icon-tooltip:after,
.ibwp-spw-top-right .ibwp-spw-icon-tooltip:before,
.ibwp-spw-middle-right .ibwp-spw-icon-tooltip:after,
.ibwp-spw-middle-right .ibwp-spw-icon-tooltip:before,
.ibwp-spw-bottom-right .ibwp-spw-icon-tooltip:after,
.ibwp-spw-bottom-right .ibwp-spw-icon-tooltip:before { right: 20px; }

.ibwp-spw-top-left .ibwp-spw-icon-tooltip:after,
.ibwp-spw-top-left .ibwp-spw-icon-tooltip:before,
.ibwp-spw-middle-left .ibwp-spw-icon-tooltip:after,
.ibwp-spw-middle-left .ibwp-spw-icon-tooltip:before,
.ibwp-spw-bottom-left .ibwp-spw-icon-tooltip:after,
.ibwp-spw-bottom-left .ibwp-spw-icon-tooltip:before { left: 30px; }

.ibwp-spw-icon-tooltip:after { border-color: rgba(0, 0, 0, 0); border-top-color: #000000; border-width: 10px; margin-left: -10px; }
.ibwp-spw-icon-tooltip:before { border-color: rgba(247, 247, 247, 0); border-top-color: #000000; border-width: 11px; margin-left: -11px; }

.ibwp-spw-top-left .ibwp-spw-icon-tooltip:after,
.ibwp-spw-top-left .ibwp-spw-icon-tooltip:before,
.ibwp-spw-top-right .ibwp-spw-icon-tooltip:after,
.ibwp-spw-top-right .ibwp-spw-icon-tooltip:before { border-bottom-color: #000000; border-top-color: transparent; }


/* spin wheel content right end */

@-webkit-keyframes open-spin-rotate { 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }

/* Responsive css start */
@media only screen and (max-width: 40em) {
	.ibwp-spw-wheel-short-desc h1 { font-size: 18px; }
	.ibwp-spw-wheel-short-desc h2 { font-size: 17px; }
	.ibwp-spw-wheel-short-desc h3 { font-size: 16px; }
	.ibwp-spw-wheel-short-desc h4 { font-size: 15px; }
	.ibwp-spw-wheel-short-desc h5 { font-size: 14px; }
	.ibwp-spw-wheel-short-desc h6 { font-size: 13px;text-transform: unset; }
	.ibwp-spw-wheel-short-desc p { font-size: 14px; }
	.ibwp-spw-content-wrap { padding:20px 0 !important; }
	.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right .ibwp-spw-wheel-desc .ibwp-spw-wheel-title { font-size: 20px !important; padding:5px 0 !important; }
	.ibwp-spw-content-wrap .ibwp-spw-pointer-content { right:-40px !important; }
	.ibwp-spw-inboundwp-pro-right .ibwp-spw-wheel-desc .ibwp-spw-wheel-short-desc { padding:5px !important;line-height:normal !important; }
	.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right label { margin-bottom:10px !important; }
	.ibwp-spw-inboundwp-pro-right .ibwp-spw-lucky-user .ibwp_spw_input_field { padding:10px 5px;font-size:14px;line-height:normal; }
	.ibwp-spw-lucky-user .ibwp-spw-spin-button { padding:10px 0;font-size:14px; }
	.ibwp-spw-content-wrap .ibwp-spw-inboundwp-pro-right { padding:25px 10px !important; }
	.ibwp-spw-inboundwp-pro-main { overflow: hidden;overflow-y: scroll; }
	.ibwp-spw-close-wheel { color: #505050;line-height: 35px;right: 10px;background-color: rgba(212, 212, 212, 0.8);width: 35px;height: 35px;}
	.ibwp-spw-close-wheel .ibwp-spw-close{font-size: 20px;}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	.ibwp-spw-content-wrap { padding: 50px 0; }
	.ibwp-spw-inboundwp-pro-main { overflow: hidden;overflow-y: scroll; }
}
/* Responsive css end */