/* Start General CSS */
.form-table span.info-msg { font-size: 13px; font-weight: 400; font-style: italic; }
.button.ibwp-spw-btn { border-radius: 0; }
.ibwp-spw-wheel-settings .wp-switch-editor { height: 26px; line-height: 13px; padding: 3px 10px 4px; }
.ibwp-spw-wp-editor { width: 100%; }
.ibwp-spw-wheel-settings th { width: 125px; }
.ibwp-spw-notice { background-color: #f2dede; border: 1px solid #ebccd1; border-radius: 4px; color: #a94442; font-weight: 600; padding: 10px; }
.ibwp-sett-wrap .ibwp-resett-sett-btn { margin: 0 0 0 5px; }
/* End General CSS */