.ibwp-post-bh-table th{ width:15%; }
.ibwp-post-bh-table td{ width:80%; }
.ibwp-post-bh-table .ibwp-bh-heading,
.ibwp-post-bh-table .ibwp-bh-clicks-views { width: 95%; }
.ibwp-post-bh-table .ibwp-bh-clicks-views .ibwp-bh-click { float: right; }
.ibwp-post-bh-table .ibwp-bh-remove-title { width: 5%;}
.ibwp-post-bh-table .ibwp-bh-clicks-views .ibwp-bh-cv-none { height: 15px; overflow: hidden; background-color: #eaeaea; border-radius: 4px; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1); margin-top: 5px; }
.ibwp-post-bh-table .ibwp-bh-clicks-views .ibwp-bh-cv { height: 100%; background-color: #4CAF50; -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); }
.ibwp-bh-heading { margin-bottom: 5px; }
.ibwp-post-bh-table .ibwp-bh-remove-title .dashicons.dashicons-dismiss::before { font-size: 25px; line-height: 28px; margin-left: 4px; color: #DC3232; cursor: pointer; }