.ibwp_wtcs_btn_popup,
.ibwp_wtcs_btn_popup *,
.ibwp_wtcs_btn_popup :before,
.ibwp_wtcs_btn_popup :after,
.ibwp_wtcs_popup_chat_box,
.ibwp_wtcs_popup_chat_box *,
.ibwp_wtcs_popup_chat_box :before,
.ibwp_wtcs_popup_chat_box :after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
.ibwp_wtcs_stt_online {
	background: #2db742;
	cursor: pointer;
	transition: .4s ease all;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all;
	backface-visibility: hidden;
	will-change: transform
}
.ibwp_wtcs_stt_online:before {
	content: '';
	transition: .4s ease all;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all;
	background: rgba(0, 0, 0, .2);
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	will-change: opacity
}
.ibwp_wtcs_stt_offline {
	background: #ebedf0;
	color: #595b60;
	box-shadow: none;
	cursor: initial
}
.ibwp_wtcs_popup_chat_box {
	font-family: Arial, Helvetica, sans-serif;
	width: 351px;
	border-radius: 5px 5px 8px 8px;
	-webkit-border-radius: 5px 5px 8px 8px;
	-moz-border-radius: 5px 5px 8px 8px;
	position: fixed;
	overflow: hidden;
	box-shadow: 0 10px 10px 4px rgba(0, 0, 0, .04);
	-webkit-box-shadow: 0 10px 10px 4px rgba(0, 0, 0, .04);
	-moz-box-shadow: 0 10px 10px 4px rgba(0, 0, 0, .04);
	bottom: 102px;
	right: 25px;
	z-index: 998;
	opacity: 0;
	visibility: hidden;
	-ms-transform: translate(0, 50px);
	transform: translate(0, 50px);
	-webkit-transform: translate(0, 50px);
	-moz-transform: translate(0, 50px);
	transition: .4s ease all;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all;
	will-change: transform, visibility, opacity;
	max-width: calc(100% - 50px)
}
.ibwp_wtcs_popup_chat_box:hover,
.ibwp_wtcs_popup_chat_box:focus,
.ibwp_wtcs_popup_chat_box:active {
	box-shadow: 0 10px 10px 4px rgba(32, 32, 37, .23);
	-webkit-box-shadow: 0 10px 10px 4px rgba(32, 32, 37, .23);
	-moz-box-shadow: 0 10px 10px 4px rgba(32, 32, 37, .23)
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_active {
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	visibility: visible;
	opacity: 1
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading {
	position: relative;
	padding: 15px 43px 17px 74px;
	color: #d9ebc6;
	background: #2db742
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading_sm {
	padding: 12px 15px 17px 74px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading:before {
	content: '';
	background: url(../images/whatsapp_logo.svg) center top no-repeat;
	background-size: 33px;
	display: block;
	width: 55px;
	height: 33px;
	position: absolute;
	top: 20px;
	left: 12px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading_sm:before {
	top: 19px;
	left: 11px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading .ibwp_wtcs_popup_title {
	padding-top: 2px;
	padding-bottom: 3;
	color: #fff;
	font-size: 18px;
	line-height: 24px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading .ibwp_wtcs_popup_intro {
	padding-top: 4px;
	font-size: 12px;
	line-height: 20px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading_sm .ibwp_wtcs_popup_intro {
	padding-top: 0
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading .ibwp_wtcs_popup_intro a {
	display: inline-block;
	color: #fff;
	text-decoration: none
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading .ibwp_wtcs_popup_intro a:hover,
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading .ibwp_wtcs_popup_intro a:focus,
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_heading .ibwp_wtcs_popup_intro a:active {
	text-decoration: underline
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_notice {
	font-size: 11px;
	color: #a5abb7;
	font-weight: 500;
	padding: 0 3px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_content {
	background: #fff;
	padding: 13px 20px 21px 19px;
	text-align: center
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_content_left {
	text-align: left
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_avatar {
	position: absolute;
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	left: 12px;
	top: 12px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_popup_avatar.nta-default-avt {
	border-radius: unset;
	-webkit-border-radius: unset;
	-moz-border-radius: unset
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_stt {
	padding: 13px 40px 12px 74px;
	position: relative;
	text-decoration: none;
	display: table;
	width: 100%;
	border-left: 2px solid #2db742;
	background: #f5f7f9;
	border-radius: 2px 4px 2px 4px;
	-webkit-border-radius: 2px 4px 2px 4px;
	-moz-border-radius: 2px 4px 2px 4px
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_stt:after {
	content: '';
	background: url(../images/whatsapp_logo_green.svg) 0 0 no-repeat;
	position: absolute;
	right: 14px;
	top: 26px;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_stt.ibwp_wtcs_stt_offline:after {
	background-image: url(../images/whatsapp_logo_gray_sm.svg)
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_stt.ibwp_wtcs_stt_online {
	transition: .2s ease all;
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all
}
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_stt.ibwp_wtcs_stt_online:hover,
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_stt.ibwp_wtcs_stt_online:active,
.ibwp_wtcs_popup_chat_box .ibwp_wtcs_stt.ibwp_wtcs_stt_online:focus {
	background: #fff;
	box-shadow: 0 7px 15px 1px rgba(55, 62, 70, .07);
	-webkit-box-shadow: 0 7px 15px 1px rgba(55, 62, 70, .07);
	-moz-box-shadow: 0 7px 15px 1px rgba(55, 62, 70, .07)
}
.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item {
	margin: 14px 0 0;
	transform: translate(0, 20px);
	-webkit-transform: translate(0, 20px);
	-moz-transform: translate(0, 20px);
	will-change: opacity, transform;
	opacity: 0
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item {
	transition: .4s ease all;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all;
	transition-delay: 2.1s;
	-webkit-transition-delay: 2.1s;
	-moz-transition-delay: 2.1s
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(1) {
	transition-delay: .3s;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(2) {
	transition-delay: .5s;
	-webkit-transition-delay: .5s;
	-moz-transition-delay: .5s
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(3) {
	transition-delay: .7s;
	-webkit-transition-delay: .7s;
	-moz-transition-delay: .7s
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(4) {
	transition-delay: .9s;
	-webkit-transition-delay: .9s;
	-moz-transition-delay: .9s
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(5) {
	transition-delay: 1.1s;
	-webkit-transition-delay: 1.1s;
	-moz-transition-delay: 1.1s
}
.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(6) {
	transition-delay: 1.3s;
	-webkit-transition-delay: 1.3s;
	-moz-transition-delay: 1.3s
}

.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(7) {
	transition-delay: 1.5s;
	-webkit-transition-delay: 1.5s;
	-moz-transition-delay: 1.5s
}

.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(8) {
	transition-delay: 1.7s;
	-webkit-transition-delay: 1.7s;
	-moz-transition-delay: 1.7s
}

.ibwp_wtcs_popup_chat_box.ibwp_wtcs_pending .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item:nth-child(9) {
	transition-delay: 1.9s;
	-webkit-transition-delay: 1.9s;
	-moz-transition-delay: 1.9s
}

.ibwp_wtcs_popup_chat_box.ibwp_wtcs_lauch .ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item {
	opacity: 1;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0)
}

.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item .ibwp_wtcs_member_name {
	font-size: 14px;
	color: #363c47;
	line-height: 1.188em!important
}

.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item .ibwp_wtcs_member_duty {
	font-size: 11px;
	color: #989b9f;
	padding: 2px 0 0;
	line-height: 1.125em!important
}

.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item .ibwp_wtcs_member_status {
	border-radius: 5px;
	display: inline-block;
	padding: 1px 5px;
	font-size: 10px;
	vertical-align: middle;
	color: #fff;
}

.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item .ibwp_wtcs_member_status.on{
	background: #26C281;
}
.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item .ibwp_wtcs_member_status.off{
	background: #f1a528;
}



.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item .ibwp_wtcs_popup_txt {
	display: table-cell;
	vertical-align: middle;
	min-height: 48px;
	height: 48px
}

.ibwp_wtcs_popup_content_list .ibwp_wtcs_popup_content_item .ibwp_wtcs_stt_offline {
	border-left-color: #c0c5ca
}

.ibwp_wtcs_popup_avt_list {
	font-size: 0;
	margin: 7px 0 24px
}

.ibwp_wtcs_btn_popup {
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 999
}

.ibwp_wtcs_btn_popup .ibwp_wtcs_btn_popup_icon {
	width: 56px;
	height: 56px;
	background: #2db742;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0 6px 8px 2px rgba(0, 0, 0, .14);
	-webkit-box-shadow: 0 6px 8px 2px rgba(0, 0, 0, .14);
	-moz-box-shadow: 0 6px 8px 2px rgba(0, 0, 0, .14)
}

.ibwp_wtcs_btn_popup .ibwp_wtcs_btn_popup_icon:before {
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: transparent url(../images/whatsapp_logo.svg) center center no-repeat;
	background-size: 30px auto;
	-webkit-background-size: 30px auto;
	-moz-background-size: 30px auto;
	transition: .4s ease all;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all
}

.ibwp_wtcs_btn_popup .ibwp_wtcs_btn_popup_icon:after {
	content: '';
	opacity: 0;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: transparent url(../images/x_icon.svg) center center no-repeat;
	background-size: 14px auto;
	-webkit-background-size: 14px auto;
	-moz-background-size: 14px auto;
	transition: .4s ease all;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all;
	-ms-transform: scale(0) rotate(-360deg);
	transform: scale(0) rotate(-360deg);
	-webkit-transform: scale(0) rotate(-360deg);
	-moz-transform: scale(0) rotate(-360deg)
}

.ibwp_wtcs_btn_popup.ibwp_wtcs_active .ibwp_wtcs_btn_popup_icon:before {
	opacity: 0;
	-ms-transform: scale(0) rotate(360deg);
	transform: scale(0) rotate(360deg);
	-webkit-transform: scale(0) rotate(360deg);
	-moz-transform: scale(0) rotate(360deg)
}

.ibwp_wtcs_btn_popup.ibwp_wtcs_active .ibwp_wtcs_btn_popup_icon:after {opacity: 1;-ms-transform: scale(1) rotate(0deg);transform: scale(1) rotate(0deg);-webkit-transform: scale(1) rotate(0deg);-moz-transform: scale(1) rotate(0deg);}
.ibwp_wtcs_btn_popup .ibwp_wtcs_btn_popup_txt {position: absolute;width: 156px;right: 100%;background-color: #f5f7f9;font-size: 12px;color: #43474e;top: 15px;padding: 7px 0 7px 12px;margin-right: 7px;letter-spacing: -.03em;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;transition: .4s ease all;-webkit-transition: .4s ease all;-moz-transition: .4s ease all;}
.ibwp_wtcs_btn_popup.ibwp_wtcs_active .ibwp_wtcs_btn_popup_txt {-ms-transform: translate(0, 15px);transform: translate(0, 15px);-webkit-transform: translate(0, 15px);-moz-transform: translate(0, 15px);opacity: 0;visibility: hidden;}
.ibwp_wtcs_popup_avatar .ibwp_wtcs_cs_img_wrap{height: 48px;width: 48px;}