/****** General CSS ******/
.wp-list-table .type-ibwp_mp_popup .row-actions{color:#999;}
.ibwp-mp-sett-title{border-bottom: 2px solid #ccc; padding: 0 0 5px;}
#ibwp-mp-settings-reset {margin-left: 10px;}

/***** Goal & Type Tab CSS *****/
.ibwp-mp-goal-options .ibwp-mp-goal-main,
.ibwp-mp-type-options .ibwp-mp-type-main { margin-bottom: 15px; }
.ibwp-mp-goal-options .ibwp-mp-goal-main .ibwp-mp-goal-input,
.ibwp-mp-type-options .ibwp-mp-type-main .ibwp-mp-type-input { display: none; }
.ibwp-mp-goal-options .ibwp-mp-goal-main .ibwp-mp-goal-block,
.ibwp-mp-type-options .ibwp-mp-type-main .ibwp-mp-type-block { border: 2px solid #dcdcdc; border-radius: 5px; padding: 10px; text-align: center; }
.ibwp-mp-goal-options .ibwp-mp-goal-main .ibwp-mp-goal-block { min-height: 145px; }
.ibwp-mp-type-options .ibwp-mp-type-main .ibwp-mp-type-block { min-height: 185px; }
.ibwp-mp-goal-main .ibwp-mp-goal-block h4,
.ibwp-mp-type-main .ibwp-mp-type-block h4 { padding-bottom: 10px; font-size: 16px; }
.ibwp-mp-type-main .ibwp-mp-type-block .ibwp-mp-type-icon { padding-bottom: 10px; }
.ibwp-mp-goal-main .ibwp-mp-goal-block i { color: #3cbcfe; font-size: 30px; margin-bottom: 10px; }
.ibwp-mp-goal-main .ibwp-mp-goal-block h4,
.ibwp-mp-goal-main .ibwp-mp-goal-block p,
.ibwp-mp-type-main .ibwp-mp-type-block h4,
.ibwp-mp-type-main .ibwp-mp-type-block p { margin: 0; }
.ibwp-mp-type-main .ibwp-mp-type-icon { width: 50px; }
.ibwp-mp-type-options .form-table td { margin-bottom: 0; padding: 10px; }

/******* PopUp Design Section CSS *******/
.ibwp-mp-popup-row { margin-top: 15px; }
.ibwp-mp-popup-tbl label,
.ibwp-popup-sett-tbl label { display: inline-block; font-weight: 600; margin: 0 0 5px; }
label.ibwp-mp-popup-design { margin-bottom: 10px; }
.ibwp-mp-popup-design span { display: block; text-align: center; padding-top: 5px; }
.ibwp-mp-popup-design .ibwp-mp-designs-cls { text-transform: capitalize; }
.ibwp-mp-popup-design-block { border: 2px solid #dcdcdc; }
.ibwp-mp-popup-design-block img { display: block; width: 100%; height: 100%; padding: 5px; }
.ibwp-mp-popup-design input { display: none; }
.ibwp-mp-social-wrp .ibwp-mp-social-main { padding: 0; }
.ibwp-mp-social-wrp .ibwp-mp-ar-icon { padding: 0; text-align: center; }
.ibwp-mp-social-wrp .ibwp-mp-ar-icon .ibwp-mp-icon { height: 100%; display: inline-block; }
.ibwp-mp-social-wrp .ibwp-mp-ar-icon .ibwp-mp-icon .dashicons { width: 100%; height: 100%; cursor: pointer; }
.ibwp-mp-social-wrp .ibwp-mp-ar-icon .dashicons-plus-alt:before,
.ibwp-mp-social-wrp .ibwp-mp-ar-icon .dashicons-dismiss:before { font-size: 30px; }
.ibwp-mp-social-wrp .ibwp-mp-ar-icon .dashicons-plus-alt:before { color: #00A0D2; }
.ibwp-mp-social-wrp .ibwp-mp-ar-icon .dashicons-dismiss:before { color: #DC3232; }

/******* Setting Page CSS **********/
.mp-settt-page-column { box-sizing: border-box; }