/************************************************************
				Box Sizing
************************************************************/
.ibwp-mp-popup-wrp *, .ibwp-mp-popup-body *{outline: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}

.ibwp-mp-popup-config{ display: none; }
.ibwp-mp-popup-body { background-color: #F56E28; display: table; width: 100%; text-align: center; padding: 15px; line-height:normal;}
.ibwp-mp-popup-body img{ max-width: 100%; }
.ibwp-mp-popup-body p:last-child{margin: 0;}

/********** PopUp General CSS ***********/
.ibwp-mp-popup-block h1,
.ibwp-mp-popup-block h2,
.ibwp-mp-popup-block h3,
.ibwp-mp-popup-block h4,
.ibwp-mp-popup-block h5,
.ibwp-mp-popup-block h6,
.ibwp-mp-popup-block p { margin: 0; padding: 0; }
.ibwp-mp-popup-block a:focus { text-decoration: none; }
.ibwp-mp-popup-block .ibwp-mp-popup-wrp.splash { background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; }
.ibwp-mp-popup-wrp .ibwp-mp-popup-close {background:url(../images/cross-black.png) center center no-repeat; background-size:20px 20px; display: block; height: 25px; position: absolute; right: 0; text-decoration: none !important; top: 0; width: 25px; z-index: 1500; cursor: pointer; }
.ibwp-mp-popup-block .ibwp-mp-email-fields input,
.ibwp-mp-popup-block .ibwp-mp-email-fields input:focus { border: 0; }
.ibwp-mp-radius-tr-br { border-radius: 0 10px !important; }
.ibwp-mp-border-cls { border: 1px solid #333333; margin: 5px 0; }
.ibwp-mp-popup-block .btn-inner,
.ibwp-mp-popup-block .ibwp-mp-email-fields input { display: block; padding: 5px 10px; font-size: 18px; border-radius: 5px; font-weight: normal; line-height: 1.6; margin: 0; }

.ibwp-mp-popup-social-links .mp-social-icons { color: #ffffff; font-size: 22px; text-align: center; text-decoration: none; }
.ibwp-mp-popup-social-links .fa-facebook { background: #3B5998; }
.ibwp-mp-popup-social-links .fa-twitter { background: #55ACEE; }
.ibwp-mp-popup-social-links .fa-google { background: #dd4b39; }
.ibwp-mp-popup-social-links .fa-linkedin { background: #007bb5; }
.ibwp-mp-popup-social-links .fa-youtube { background: #bb0000; }
.ibwp-mp-popup-social-links .fa-instagram { background: #125688; }
.ibwp-mp-popup-social-links .fa-pinterest { background: #cb2027; }
.ibwp-mp-popup-social-links .fa-skype { background: #00aff0; }

.mp-email-fields-main { position: relative; }
/**** Tooltip CSS *****/
.ibwp-mp-error-tooltip {background-color: #f2dede; color: #a94442; border: 1px solid #ebccd1; border-radius: 4px;padding: 5px;display: block;position: absolute;min-width: 200px; left: -210px;right: auto;top: 50%;transform: translateY(-50%);}
.ibwp-mp-error-tooltip:after,
.ibwp-mp-error-tooltip:before { left: 100%;top: 50%;border: 1px solid #f2dede; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.ibwp-mp-error-tooltip:after { border-color: rgba(136, 183, 213, 0);border-left-color: #f2dede;border-width: 10px;margin-left: 0;margin-top: -10px;}
.ibwp-mp-error-tooltip:before { border-color: rgba(194, 225, 245, 0);border-left-color: #f2dede;border-width: 11px;margin-left: 0;margin-top: -11px;} 

.ibwp-mp-popup-body .ibwp-mp-no-image {width: 100% !important;float: left !important;padding: 0 30px !important;}
.ibwp-mp-error-msg { margin-top: 10px; display: inline-block; background-color: #f2dede; border: 1px solid #ebccd1; border-radius: 4px; color: #a94442; font-weight: normal; padding: 5px; font-size: 18px; }

/********************************************************************
		PopUp Modal, Slider & Push Notification General CSS
********************************************************************/
.ibwp-mp-gen-cls { bottom: 0; display: none; left: 0; overflow-y: auto; position: fixed; right: 0; top: 0; z-index: 9999999; }
.ibwp-mp-gen-cls .ibwp-mp-popup-body { display: table; position: absolute; top: 0; left: 0; right: 0; }
.ibwp-mp-gen-cls .ibwp-mp-popup-wrp { background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; }
.ibwp-mp-gen-cls .ibwp-mp-popup-email-main .ibwp-mp-email-fields { width: 100%; margin-bottom: 10px; }
.ibwp-mp-gen-cls .ibwp-mp-popup-email-main .ibwp-mp-email-fields input { width: 100%; border: 0; padding: 5px 15px;}
.ibwp-mp-gen-cls .ibwp-mp-popup-body .ibwp-mp-popup-social-links .mp-social-icons { width: 40px; height: 40px; line-height: 40px; margin-top: 10px; }
.ibwp-mp-gen-cls .ibwp-mp-popup-body .ibwp-mp-popup-main-heading { font-weight: 600; }
.ibwp-mp-gen-cls .ibwp-mp-popup-btn {background: transparent;padding: 0;margin: 0;}
.ibwp-mp-gen-cls.mp-target-url.design-2 .ibwp-mp-popup-btn,
.ibwp-mp-gen-cls.mp-phone-calls.design-2 .ibwp-mp-popup-btn {margin: 0 auto} {margin: 0 auto}

/********************************************************************
		PopUp Modal, Slider & Push Notification Design-1 CSS
********************************************************************/
.ibwp-mp-gen-cls.design-1 .ibwp-mp-popup-body { padding: 30px; }
.ibwp-mp-gen-cls.design-1 .ibwp-mp-popup-inner { display: table; }
.ibwp-mp-gen-cls.design-1 .ibwp-mp-inner-left,
.ibwp-mp-gen-cls.design-1 .ibwp-mp-inner-right {display: table-cell; vertical-align: middle;}
.ibwp-mp-gen-cls.design-1 .ibwp-mp-inner-right {padding-left: 20px;}
.ibwp-mp-gen-cls.design-1 .ibwp-mp-headings,
.ibwp-mp-gen-cls.design-1 .ibwp-mp-popup-desc { padding-bottom: 10px; }
.ibwp-mp-gen-cls.design-1 .ibwp-mp-popup-btn {display: block;width: 100%;border-radius: 5px;}

/********************************************************************
		PopUp Modal, Slider & Push Notification Design-2 CSS
********************************************************************/
.ibwp-mp-gen-cls.design-2 .ibwp-mp-popup-close {background: url(../images/cross95.png) center center no-repeat;background-size: 35px 35px;width: 40px;height: 40px;}
.ibwp-mp-gen-cls.design-2 .ibwp-mp-popup-body { padding: 0px; }
.ibwp-mp-gen-cls.design-2 .ibwp-mp-border-cls {border: 1px solid #fff;}
.ibwp-mp-gen-cls.design-2 .ibwp-mp-inner-top,
.ibwp-mp-gen-cls.design-2 .ibwp-mp-inner-bottom { padding: 30px;position: relative; }
.ibwp-mp-gen-cls.design-2 .ibwp-mp-popup-overlay { position: absolute;background-color: rgba(120, 120, 120, 0.5);height: 100%;top: 0;left: 0;right: 0; }
.ibwp-mp-gen-cls.design-2 .ibwp-mp-contents { position: relative;z-index: 9 }
.ibwp-mp-gen-cls.design-2 .ibwp-mp-headings { padding-bottom: 10px; }
.ibwp-mp-gen-cls.design-2 .ibwp-mp-popup-btn {width: 50%;padding: 0 10px;}
.ibwp-mp-gen-cls.design-2 .ibwp-mp-popup-email-main .ibwp-mp-email-fields {width: 50%;float: left;padding: 0 10px;}

/****** PopUp Modal CSS *****/
.ibwp-mp-popup-popup-modal #ibwp-mp-popup-popup-modal,
.ibwp-mp-popup-popup-modal #ibwp-mp-popup-popup-modal .ibwp-mp-popup-wrp { display: block; }
#ibwp-mp-popup-popup-modal .ibwp-mp-middle-popup .ibwp-mp-popup-body { margin: 0 auto; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }
#ibwp-mp-popup-popup-modal .ibwp-mp-middle-top-popup .ibwp-mp-popup-body { margin: 0 auto; bottom: unset; }
#ibwp-mp-popup-popup-modal .ibwp-mp-middle-bottom-popup .ibwp-mp-popup-body { margin: 0 auto; top: unset; bottom: 0; }
#ibwp-mp-popup-popup-modal .ibwp-mp-middle-left-popup .ibwp-mp-popup-body { right: unset; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }
#ibwp-mp-popup-popup-modal .ibwp-mp-middle-right-popup .ibwp-mp-popup-body { left: unset; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }

/********************************************************************
			Full Screen PopUp Modal Design CSS 
********************************************************************/
.ibwp-mp-fullscreen-popup .ibwp-mp-popup-body { width: 100%; height: 100%; }

/********************************************************************
			Full Screen PopUp Modal Design 1 CSS 
********************************************************************/
.ibwp-mp-fullscreen-popup.design-1 .ibwp-mp-popup-body { padding: 0; }
.ibwp-mp-fullscreen-popup.design-1 .ibwp-mp-inner-right { padding: 20px; }
.ibwp-mp-fullscreen-popup.design-1 .ibwp-mp-popup-email-main {width: 70%;margin: 0 auto;}

/********************************************************************
			Full Screen PopUp Modal Design 2 CSS 
********************************************************************/
.ibwp-mp-fullscreen-popup .ibwp-mp-popup-body {display: block;}
.ibwp-mp-fullscreen-popup .ibwp-mp-popup-body .ibwp-mp-popup-inner {height: 100%;width: 100%;}
.ibwp-mp-fullscreen-popup.design-2 .ibwp-mp-popup-email-main,
.ibwp-mp-fullscreen-popup.design-2 .ibwp-mp-contents,
.ibwp-mp-fullscreen-popup.design-2 .ibwp-mp-popup-desc,
.ibwp-mp-fullscreen-popup.design-2 .ibwp-mp-popup-social-links {margin: 0 auto; width: 80%;}
.ibwp-mp-fullscreen-popup.design-2 .ibwp-mp-inner-top { height: 70%; display: flex;align-items: center; }
.ibwp-mp-fullscreen-popup.design-2 .ibwp-mp-inner-bottom { height: 30%;display: flex;align-items: center; }
.ibwp-mp-fullscreen-popup.design-2.mp-phone-calls .ibwp-mp-popup-btn,
.ibwp-mp-fullscreen-popup.design-2.mp-target-url .ibwp-mp-popup-btn {width: 30%;}

/****************************************************************
						Responsive CSS 
*****************************************************************/
@media only screen and (max-width: 40em) { 
	#ibwp-mp-popup-popup-modal .ibwp-mp-middle-popup .ibwp-mp-popup-body { top: 0;transform: none; }
	.ibwp-mp-popup-body{width: 100% !important;}
	.ibwp-mp-gen-cls.design-1 .ibwp-mp-inner-left, .ibwp-mp-gen-cls.design-1 .ibwp-mp-inner-right { display: block;}
	.ibwp-mp-gen-cls.design-1 .ibwp-mp-inner-left { height: 150px; }
	.ibwp-mp-gen-cls.design-1 .ibwp-mp-inner-right {padding: 10px;}
	.ibwp-mp-gen-cls.design-1.mp-target-url .ibwp-mp-popup-btn,
	.ibwp-mp-gen-cls.design-1.mp-phone-calls .ibwp-mp-popup-btn { width: 50%;margin: 0 auto;float: none !important; }
	.ibwp-mp-gen-cls .ibwp-mp-popup-desc { height: 150px;overflow-y: auto; }
	.ibwp-mp-gen-cls .ibwp-mp-popup-inner {display: block;float: left;height: 450px;overflow-y: auto;}
	.ibwp-mp-error-tooltip { left: 0;right: 0;top: -70px;transform: none;min-width: 100%; }
	.ibwp-mp-error-tooltip::before {margin-top: 0;border-left-color: transparent; border-top-color: #f2dede;border-width: 11px;margin-left: -11px; }
	.ibwp-mp-error-tooltip::after {margin-top: 0;border-left-color: transparent; border-top-color: #f2dede;border-width: 10px;margin-left: -10px; }
	.ibwp-mp-error-tooltip::after, .ibwp-mp-error-tooltip::before {top: 100%;left: 50%;}	
	.design-1.mp-email-lists.ibwp-mp-gen-cls .ibwp-mp-error-tooltip {top: -45px;}
}