.ibwp-clearfix:before, .ibwp-clearfix:after{content: "";display: table;}
.ibwp-clearfix::after{clear: both;}
.ibwp-hide{display:none;}
.ibwp-first{clear:both;}
.ibwp-no-float{float:none;}
.ibwp-right{float:right;}
.ibwp-pad-top-20{padding:20px 0 0 0;}
.ibwp-pro-notice { background-color: #f2dede; border: 1px solid #ebccd1; border-radius: 4px; color: #a94442; font-weight: normal; padding: 10px; font-size: 13px; }
.ibwp-pro-notice a { color: #a01320; font-weight: bold; }
.ibwp-info-note { color: #3c763d; background-color: #dff0d8; border: 1px solid; border-color: #d6e9c6; border-radius: 4px; padding: 10px; }
.ibwp-info-note a { color: #3c763d; font-weight: bold; }
.ibwp-pro-tag { padding: 4px 7px 4px 5px; background-color: #1e2b48; color: #ffffff; position: relative; font-size: 11px; margin: 0 10px; display: inline-block; line-height: 1.1; }
.ibwp-pro-tag:before { content: ""; left: -10px; top: 0; border-top: 10px solid transparent; border-right: 10px solid #1e2b48; border-bottom: 10px solid transparent; position: absolute; }

.ibwp-notice.ibwp-notice-dismissible{padding-right: 38px; position: relative;}
.ibwp-notice.ibwp-notice-dismissible .notice-dismiss{text-decoration:none;}
.ibwp-cnt-wrap *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.ibwp-nav-tab-cnt-wrap{margin:15px 0;}
.ibwp-nav-tab-cnt-wrap h3{margin-top:0;}
.ibwp-about-wrap .ibwp-intro-image img{border:0;}
.ibwp-about-wrap .ibwp-intro-image{padding-top:5px; padding-bottom:40px;}
.ibwp-about-wrap .wp-badge {background-color:transparent; box-shadow:none; border:1px solid #ccc; color:#32373C; background-image: url("../images/inboundwp.png");}
.ibwp-about-wrap .ibwp-about-module-wrap{text-align:center;}
.ibwp-about-wrap .ibwp-about-module{margin:0 0 20px 0;}
.ibwp-about-module .ibwp-about-module-inr{background: #fff none repeat scroll 0 0; border:2px solid #ccc; padding: 20px 10px; text-align: center;}
.ibwp-about-module .ibwp-about-module-title span{border-bottom: 2px solid #666; color: #32373c; display: inline-block; font-size: 18px; font-weight: 600; margin: 0 0 22px 0; padding: 0 0 8px 0; line-height:normal;}
.ibwp-about-module .ibwp-about-module-icon{color: #666; font-size: 50px; height: auto; width: auto;}
.ibwp-about-wrap .ibwp-update-tab-cnt{border: 1px solid #ccc; background: #fff; height:300px;}
.ibwp-about-wrap .ibwp-update-tab-cnt iframe{height:100%; width:100%;}
.ibwp-stabs-wrap .form-table .ibwp-no-padding { padding-left: 0 !important; padding-right: 0 !important; }
.no-padding { padding: 0 !important; }
.form-table span.info-msg { font-size: 13px; font-weight: 400; font-style: italic; }
.ibwp-sett-wrap .ibwp-resett-sett-btn { margin: 0 0 0 5px; }

h4.ibwp-coming-soon { font-size: 18px; margin: 10px 0 0 0; }

.ibwp-dashboard-wrap a, .ibwp-dashboard-wrap img{box-shadow:none;}
body.toplevel_page_ibwp-dashboard{background:#f3f6f8;}
.ibwp-dashboard-header{background-color: #fff; border-color: #e2dddb; border-style: solid; border-width: 1px 1px 0; box-sizing: border-box; font-size: 16px; font-weight: 600; margin: 20px 0 0;}
.ibwp-dashboard-header-title{display: inline-block; padding: 12px 10px;}
.ibwp-dashboard-footer{font-size: 14px; padding: 6px 1px 6px 0; text-align: right;}
.ibwp-dashboard-search-icon{cursor: pointer; display: inline-block; float: right; padding: 8px 12px;}
.ibwp-dashboard-search-icon i{font-size: 26px; height: auto; vertical-align: middle; width: auto;}
.ibwp-dashboard-search-wrap .ibwp-dashboard-search{border-width: 1px 0 0; box-sizing: border-box; margin: 0; padding:10px 12px; text-align:center; text-transform:uppercase; width:100%; border-color:#ddd !important; box-shadow:none !important; background: #f1f1f1;}
.ibwp-dashboard-wrap .ibwp-no-module{background-color:#fff; padding:10px;}
.ibwp-dashboard-wrap .ibwp-resett-sett-btn{margin:0 0 0 5px;}
.ibwp-no-module-search{color:#a94442; font-size: 14px; font-weight: 600;}
.ibwp-module-info-wrap{border-bottom: 1px solid #e2dddb; padding: 0 0 5px;}
.ibwp-module-info-wrap .ibwp-module-title{font-size: 14px; font-weight: 600; margin: 0 0 5px;}
.ibwp-site-modules-wrap{margin:20px -15px 10px -15px;}
.ibwp-site-module-data-wrap{border: 1px solid rgb(226, 221, 219); margin:0 0 25px 0; font-size:14px;}
.ibwp-site-module-data-wrap .ibwp-site-module-title{background: #f5f5f5; border-bottom: 1px solid #e2dddb; font-weight: 600; padding: 12px 10px; font-size:14px; line-height: normal; transition: all 0.5s ease-in-out 0s;}
.ibwp-site-module-data-wrap .ibwp-site-module-title span{display:inline-block; width: calc(100% - 65px);}
.ibwp-site-module-data-wrap .ibwp-site-module-desc{background-color: #fff; font-size: 14px; line-height: 22px; min-height: 64px; padding: 12px;}
.ibwp-site-module-data-wrap .ibwp-site-module-title .ibwp-site-module-act{float:right;}
.ibwp-site-module-act .ibwp-module-extra-info{height:auto; width:auto; color:rgba(102,102,102,0.7); font-size:22px; cursor:pointer;}
.ibwp-site-module-active .ibwp-module-extra-info{color:#3c763d;}
.ibwp-site-module-data-wrap .ibwp-site-module-conf-wrap{padding: 8px 12px; text-align: right; font-size:13px;}
.ibwp-site-module-data-wrap .ibwp-site-module-conf-wrap a{text-decoration:none;}
.ibwp-site-module-conf-wrap span{margin:0 0 0 5px;}
.ibwp-site-module-active .ibwp-site-module-data-wrap{border: 1px solid #d6e9c6;}
.ibwp-site-module-active .ibwp-site-module-title{background: #dff0d8; border-bottom: 1px solid #d6e9c6; color: #3c763d;}
.ibwp-site-module-active .ibwp-site-module-title .ibwp-check-slider::before{background-color: white;}
.ibwp-site-module-active .ibwp-check-switch input:checked + .ibwp-check-slider{background-color: #3c763d;}
.ibwp-site-modules-wrap .ibwp-module-sort-cat-wrap{margin:0 0 20px 0; text-align:right;}
.ibwp-site-module-wrap{padding-left: 15px; padding-right: 15px; display:none; vertical-align:top;}
.ibwp-btn.button{border-radius:0;}
.ibwp-save-info-wrap{padding: 10px 10px; position:fixed; z-index:9999; text-align:center; color:#fff; background-color:#f3705a; right:20px; bottom:-50px; font-weight:600; font-size:14px;}
.ibwp-save-info-btn-wrap{display: inline-block; font-size: 0; vertical-align: middle;}
.ibwp-save-info-wrap .ibwp-save-info-close{background-color: #32373c; border-left: 1px solid #1e1f21; box-sizing: border-box; cursor: pointer; display: inline-block; height: 28px; padding: 4px 0; vertical-align: middle; width: 30px; border-radius: 0 3px 3px 0;}
.ibwp-save-info-wrap .ibwp-save-info-close:hover{background-color:#E33E2B;}
.ibwp-save-notify-btn{background: #32373c none repeat scroll 0 0; border: 0 none; border-radius: 3px 0 0 3px; box-shadow: none; color: #fff; cursor: pointer; height: 28px; margin: 0 0 0 10px; padding: 0 10px; vertical-align: top; font-size: 14px;}
.ibwp-save-notify-btn:active, .ibwp-save-notify-btn:focus, .ibwp-save-notify-btn:hover{background: #eee; color: #32373c;}

.ibwp-site-module-premium .ibwp-site-module-data-wrap{border: 1px solid #bce8f1;}
.ibwp-site-module-premium .ibwp-site-module-title{background: #d9edf7; border-bottom: 1px solid #bce8f1; color:#31708f;}
.ibwp-site-module-premium .ibwp-module-extra-info{color:#31708f;}

@-moz-keyframes ibwp-spin { 100% {-moz-transform: rotate(360deg); } }
@-webkit-keyframes ibwp-spin { 100% {-webkit-transform: rotate(360deg); } }
@keyframes ibwp-spin { 100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);} }
.ibwp-site-module-conf:hover .dashicons-admin-generic{
	-webkit-animation:ibwp-spin 2s linear infinite;
    -moz-animation:ibwp-spin 2s linear infinite;
	animation:ibwp-spin 2s linear infinite;
}

.ibwp-module-welcome-logo{text-align:center; margin:20px 0 15px 0; line-height:0; min-height:80px;}
.ibwp-module-welcome-text{color: #656565; line-height: 1.2em; margin:0 0 40px 0; text-align: center; font-weight: 300; font-size: 36px;}
.ibwp-module-welcome-btn-group{margin:0 0 20px 0; text-align:center;}
.ibwp-welcome-btn{margin: 0 10px 5px 10px; min-width: 190px; background-color:#3a7cec; border-radius: 3px; padding: 14px 21px; text-decoration: none; display: inline-block; font-size: 15px; font-weight: 400; color: #fff !important; box-shadow:none;}
.ibwp-welcome-btn:hover, .ibwp-welcome-btn:active, .ibwp-welcome-btn:focus{color: #fff; box-shadow:none;}
.ibwp-btn-green{background-color: #2ba14b;}
.ibwp-btn-yellow{background-color: #FFA500;}
.ibwp-btn-red{background-color: #E33E2B;}
.ibwp-btn-large{max-width: 620px; width: 100%;}
.ibwp-welcome-btn i{vertical-align:middle;}

/***** Common Admin CSS *****/
.wp-list-table .row-actions .ibwp_id{color:#999;}
.ibwp-img-view{max-width: 150px;}
.ibwp-img-view img{border: 1px solid #ccc; margin: 5px 0; max-width: 150px; padding: 5px;}
.ibwp-hwit-wrap .postbox .hndle{cursor: auto;}
.ibwp-hwit-wrap .postbox .hndle span{cursor: text;}
.ibwp-sub-sett-title{border-bottom: 2px solid #ccc; padding: 0 0 6px;}
.ibwp-success{background-color: #dff0d8; border: 1px solid #d6e9c6; border-radius: 4px; color: #3c763d; font-weight: 600; padding: 10px; text-align:left; margin: 0 0 10px 0;}
.ibwp-error{background-color: #f2dede; border: 1px solid #ebccd1; border-radius: 4px; color: #a94442; font-weight: 600; padding: 10px; text-align:left; margin: 0 0 10px 0;}

.ibwp-icon-btn.button{margin: 0 5px 0 0;}
.ibwp-icon-btn.button i{color: #666; margin: 4px 0 0 0;}
.ibwp-icon-btn.button-primary i{color:#fff;}

.ibwp-wbg-preview-img img { border: 4px double #dddddd; max-width: 100px; max-height: 100%; width: 100%; height: 100%; text-align: center; position: relative; margin-top: 10px; }
.ibwp-wbg-url.ibwp-img-upload-input { width: 60%; }
/*Lite version css*/
.ibwp-pro-text { font-size: 14px;color: red; }
.ibwp-pro-tag { padding: 3px 7px; background-color: #000000; color: #ffffff; position: relative; font-size: 14px; font-weight: normal; margin-left: 15px; margin-right: 0; display: inline-block; line-height: 1.1; }
.ibwp-pro-tag:before { content: ""; left: -14px; top: 0; border-top: 10px solid transparent; border-right: 14px solid #000000; border-bottom: 11px solid transparent; position: absolute; }
.ibwp-lite-text { color: #3c763d; font-size: 14px; }
.ibwp-pro-disable{ pointer-events: none; color: #b7b7b7; }
.ibwp-pro-disable th,
.ibwp-pro-disable .select2 span,
.ibwp-pro-disable .ibwp-select,
.ibwp-pro-disable .wp-color-result-text { color: #b7b7b7 !important; }

/***** How it Work Page CSS *****/
.ibwp-pro-box .hndle{background-color:#0073AA; color:#fff;}
.ibwp-pro-box .postbox{background:#dbf0fa none repeat scroll 0 0; border:1px solid #0073aa; color:#191e23;}
.ibwp-hwit-wrap .ibwp-button-full{display:block; text-align:center; box-shadow:none; border-radius:0;}
.ibwp-shortcode-preview{background-color: #e7e7e7; font-weight: bold; padding: 2px 5px; display: inline-block; margin:0 0 2px 0;}
.ibwp-pro-box-list li{position:relative; padding:0 0 0 15px;}
.ibwp-pro-box-list li:before{position:absolute; font-family: dashicons; content: "\f139"; font-size:20px; color: #0073aa; vertical-align: middle; left:0; line-height:normal; margin:0 0 0 -7px;}

/***** Vertical Tabs *****/
.ibwp-module-vtabs-wrap .form-table{clear: none;}
.ibwp-module-vtabs-nav-wrap *{box-sizing: border-box;}
.ibwp-module-vtabs-nav-wrap{float: left; list-style: outside none none; padding: 0 !important; position: relative; width: 180px; word-wrap: break-word; margin: 0 !important; background-color: #f5f5f5;}
.ibwp-module-vtabs-nav-wrap li{display: block; margin: 0; padding: 0; position: relative; width: 100%;}
.ibwp-module-vtabs-nav-wrap li a {color: #222; display: block; padding: 12px 10px; width: 100%; text-decoration: none; box-shadow: none; border-width: 1px; border-color: #e2dddb; border-style: none solid solid none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.ibwp-module-vtabs-nav-wrap li a:hover{box-shadow:3px 0 0 0 #222 inset;}
.ibwp-module-vtabs-nav.ibwp-module-active-vtab a{border-style: none none solid none; background-color:#fff; box-shadow:3px 0 0 0 #222 inset;}
.ibwp-module-cnt-wrp{background: #fff none repeat scroll 0 0; margin-left: 179px; padding: 10px 20px 10px 20px; min-height: 225px; border-left: 1px solid #e2dddb;}
.ibwp-module-cnt-wrp *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.ibwp-module-vtabs-wrap{background-color: #f5f5f5; border:1px solid #e2dddb;}

/***** Vertical Tabs Start *****/
.ibwp-stabs-wrap{background-color: #f5f5f5; border: 1px solid #e2dddb;}
.ibwp-stabs-wrap .form-table{clear: none;}
.ibwp-stabs-nav-wrap *{box-sizing: border-box;}
.ibwp-stabs-nav-wrap{float: left; list-style: outside none none; padding: 0 !important; position: relative; width: 180px; word-wrap: break-word; margin: 0 !important; background-color: #f5f5f5;}
.ibwp-stabs-nav-wrap li{display: block; margin: 0; padding: 0; position: relative; width: 100%; font-size: 14px;}
.ibwp-stabs-nav-wrap li a i{margin:0 5px 0 0;}
.ibwp-stabs-nav-wrap li a{color: #222; display: block; padding: 15px 10px; width: 100%; text-decoration: none; box-shadow: none; border-width: 1px; border-color: #e2dddb; border-style: none solid solid none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.ibwp-stabs-nav-wrap li a:hover{box-shadow:3px 0 0 0 #222 inset;}
.ibwp-stabs-nav.ibwp-active-stab a{border-style:none none solid none; background-color:#fff; box-shadow:3px 0 0 0 #222 inset; font-weight:600;}
.ibwp-stabs-cnt{display: none;}
.ibwp-cont-wrap *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.ibwp-cont-wrap{background: #fff none repeat scroll 0 0; margin-left: 179px; padding: 10px 15px 15px 15px; min-height: 325px; border-left: 1px solid #e2dddb;}
.ibwp-info-wrap{border-bottom: 1px solid #e2dddb; padding: 7.5px 0;}
.ibwp-info-wrap .ibwp-title{font-size: 14px; font-weight: 600; margin: 0 0 5px;}
.ibwp-stabs-nav-wrap li.ibwp-stabs-nav.disabled { pointer-events: none; cursor: wait; opacity: 0.5; }
/***** Vertical Tabs End *****/

/****** Tools Page CSS Start ********/
.ibwp-tools-main .ibwp-title-border { border-bottom: 1px solid #eeeeee; }
.ibwp-tools-main .ibwp-progress-wrap{display: none; background-color: #f4f4f4; border-style: solid; border-width: 1px 0; border-color: #eae9e9; min-height: 50px; overflow: auto; position: relative; box-sizing: border-box;}
.ibwp-tools-main .ibwp-progress{background: #ddd; position: absolute; height: 15px; top: 0; bottom: 0; margin: auto; left: 15px; right: 15px;}
.ibwp-tools-main .ibwp-progress .ibwp-progress-strip{transition: all 0.6s ease-in-out; background: #0073aa; height: 100%; width: 0;}
.ibwp-tools-main .ibwp-export-fields { width: 29%; vertical-align: top; }
.ibwp-tools-main .ibwp-export-emails-btn { width: 10%; }
/****** Tools Page CSS End ********/

/* Start Wheel Coupon Settings CSS */
.ibwp-tbl-main { clear: none; }
.ibwp-tbl-main label { display: inline-block; font-weight: 600; margin: 0 0 5px; clear: both; }
.ibwp-tbl-row { margin-bottom: 20px; }
.ibwp-tbl-row-header { background: #f1f1f1; border: 1px solid #e5e5e5; display: table; width: 100%; }
.ibwp-tbl-row-index { padding: 8px; box-sizing: border-box; float: left; font-weight: 600; }
.ibwp-tbl-row-actions { float: right; text-align: right; padding: 8px; box-sizing: border-box; color: #777; font-size: 12px; }
.ibwp-tbl-row-actions .ibwp-toggle-setting { color: #777; text-decoration: none; width: auto; cursor: pointer; }
.ibwp-tbl-row-actions .ibwp-tbl-row-remove { font-size: 12px; width: auto; cursor: pointer; color: #a00; }
.ibwp-row-standard-fields { background: #f9f9f9; padding: 8px; border-width: 0 1px 1px; border-style: solid; border-color: #e5e5e5; }
.ibwp-row-standard-fields { display: none; }
/* End Wheel Coupon Settings CSS */

/***** Shortocde Mapper *****/
.ibwp-customizer-control *{box-sizing: border-box;}
.ibwp-customizer-control{float: left; list-style: outside none none; padding:0; position: relative; width: 300px; word-wrap: break-word; margin:0; transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s;}
.ibwp-cust-accordion{background-color: #f5f5f5; border:1px solid #e2dddb; max-height:653px; overflow:auto;}
.ibwp-customizer-preview{margin-left: 350px;}
.ibwp-customizer-preview *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.ibwp-customizer-preview iframe{position: absolute; height: 100%; width: 100%; padding: 15px 0;}
.ibwp-customizer-window{position: relative; min-height: 550px; background-color: #fff; border: 1px solid #e2dddb;}
.ibwp-customizer-shrt-wrp{margin:0 0 5px 0;}
.ibwp-customizer-shrt{width: 100%; resize: none; height: 65px;}
.ibwp-customizer-loader{display: none; position: absolute; height: 100%; width: 100%; opacity: 0.8; background: url("../images/spinner.gif") center center no-repeat; background-color: #fff; background-position: center center;}
.ibwp-customizer-error{display: none; position: absolute; color: #a94442; background-color: #f2dede; border:1px solid #ebccd1; max-width:300px; width: 100%; left:0; right:0; top: 49%; margin:auto; padding:10px; text-align: center;}
.ibwp-customizer-heading{margin: 0 0 10px 0; font-size: 14px; font-weight: 600;}
.ibwp-customizer-heading .ibwp-cust-heading-info{cursor:help;}
.ibwp-cust-dwp{cursor: pointer; height: auto; width: auto; border: 1px solid #ccc; padding: 2px; background-color: #fff; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s;}
.ibwp-cust-dwp-active{background-color: #32373C; border: 1px solid #32373C; color: #fff;}

.ibwp-accordion-header{background-color: #fff; padding: 12px; font-size: 14px; font-weight: 600; cursor: pointer; border-color: #e2dddb; border-style: none none solid none; border-width: 1px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.ibwp-accordion-header span.ui-icon{float: right;}
.ibwp-accordion-header.ui-accordion-header-active{border:0;}
.ibwp-accordion-cnt{display: none; background-color: #fff; padding: 12px; border-bottom:1px solid #e2dddb;}

.ibwp-customizer-control .ibwp-customizer-row{margin: 0 0 15px 0;}
.ibwp-customizer-control .description{margin: 2px 0 0 0; display: block; color: #555d66; font-size: 12px; line-height: 1.5;}
.ibwp-customizer-control .ibwp-customizer-lbl{display: block; font-size: 14px; line-height: 24px; font-weight: 600; margin-bottom: 4px;}
.ibwp-customizer-control .ibwp-cust-field-lbl{margin:0 5px 0 0;}
.ibwp-customizer-control .ibwp-customizer-row .ibwp-img-upload-input{margin: 0 0 5px 0;}
.ibwp-customizer-control input[type="number"], .ibwp-customizer-control input[type="search"], .ibwp-customizer-control input[type="tel"], .ibwp-customizer-control input[type="url"], .ibwp-customizer-control input[type="text"], .ibwp-customizer-control input[type="password"], .ibwp-customizer-control input[type="email"], .ibwp-customizer-control select{
	width: 100%; line-height: 18px; margin: 0;
}
.ibwp-cust-full-preview .ibwp-customizer-control{-webkit-transform: translateX(-150%); transform: translateX(-150%); height: 0;}
.ibwp-cust-full-preview .ibwp-customizer-preview{margin-left:0; transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s;}

.ibwp-customizer-toolbar{margin: 0 0 15px 0; text-align: right;}
.ibwp-customizer-toolbar .button{border-radius:0; border:0;}
.ibwp-customizer-toolbar .ibwp-cust-shrt-switcher{min-width: 200px; max-width: 200px; margin-top:0; margin-bottom:0; min-height:30px;}
.ibwp-customizer-toolbar .ibwp-cust-shrt-generate-help i{font-size: 30px; height: auto; width: auto; cursor: pointer; vertical-align: middle;}

/*********** Upgrade To Pro Page CSS ************/
.ibwp-upgrade-pro-inner { margin-top: 30px; }
.ibwp-upgrade-pro-inner .ibwp-pro-modules-box { background: #f1f1f1; text-align: center; border: 1px solid #5edbd5; margin-bottom: 40px; position: relative; line-height: normal; min-height: 300px; }
.ibwp-pro-modules-box .ibwp-modules-top { background: #5edbd5; color: #ffffff; padding: 15px; border-bottom: 4px solid #ffffff; }
.ibwp-pro-modules-box .ibwp-modules-top h4 { font-size: 20px; font-weight: bold; margin: 0 0 20px 0; }
.ibwp-pro-modules-box .ibwp-modules-bottom .ibwp-module-icon { background: #5edbd5; color: #ffffff; width: 60px; height: 60px; display: table; border-radius: 100%; margin: 0 auto; border: 4px solid #fff; position: relative; margin-top: -25px; }
.ibwp-pro-modules-box .ibwp-modules-bottom .dashicons { display: table-cell; vertical-align: middle; font-size: 35px; line-height: normal; }
.ibwp-modules-bottom .ibwp-pro-features { padding: 0 10px; text-align: left; }
.ibwp-modules-bottom .ibwp-pro-features li { font-size: 15px; border-bottom: 1px solid #eaeaea; padding-bottom: 5px; position: relative; padding-left: 25px; }
.ibwp-modules-bottom .ibwp-pro-features li:before { content: "\f00c"; font-family: FontAwesome; color: #5edbd5; position: absolute; left: 0; top: 3px; }
.ibwp-upgrade-pro-wrap .ibwp-upgrade-pro-btn { text-align: center; }
.ibwp-upgrade-pro-wrap .ibwp-upgrade-pro-btn a { display: inline-block; background: #ffffff; color: #1e99ce; padding: 15px 20px; cursor: pointer; font-size: 18px; font-weight: bold; border: 1px solid #1e99ce; text-decoration: none; outline: none; }
.ibwp-upgrade-pro-wrap .ibwp-upgrade-pro-btn a:hover { background: #1e99ce; color: #ffffff; border: 1px solid #ffeee4; box-shadow: none; }
.ibwp-upgrade-pro-wrap .ibwp-upgrade-pro-btn a:focus { box-shadow: none; } 

/***** Column grid *****/
.ibwp-icolumns-wrap{font-size:0.001px;}
.ibwp-icolumn, .ibwp-icolumns{padding-left: 15px; padding-right: 15px; display:inline-block; width:100%; vertical-align:top;}
.ibwp-column, .ibwp-columns{position: relative; padding-left: 0.9375em; padding-right: 0.9375em; float: left; width:100%;}
@media only screen and (min-width: 40.0625em) {
	.ibwp-medium-1{width: 8.33333%;}
	.ibwp-medium-2{width: 16.66667%;}
	.ibwp-medium-3{width: 25%;}
	.ibwp-medium-4{width: 33.33333%;}
	.ibwp-medium-5{width: 41.66667%;}
	.ibwp-medium-6{width: 50%;}
	.ibwp-medium-7{width: 58.33333%;}
	.ibwp-medium-8{width: 66.66667%;}
	.ibwp-medium-9{width: 75%;}
	.ibwp-medium-10{width: 83.33333%;}
	.ibwp-medium-11{width: 91.66667%;}
	.ibwp-medium-12{width: 100%;}
}

/***** Checkbox switch *****/
.ibwp-check-switch {position: relative; display: inline-block; width: 36px; height: 20px; vertical-align: top; cursor:pointer;}
.ibwp-check-switch input{display:none !important;}
.ibwp-check-slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.ibwp-check-slider:before{position: absolute; content: ""; height: 12px; width: 12px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}
.ibwp-check-switch input:checked + .ibwp-check-slider{background-color: #2196f3;}
.ibwp-check-switch input:focus + .ibwp-check-slider{box-shadow: 0 0 1px #2196f3;}
.ibwp-check-switch input:checked + .ibwp-check-slider:before{-webkit-transform: translateX(16px); -ms-transform: translateX(16px); transform: translateX(16px);}
.ibwp-check-slider.ibwp-check-switch-round{border-radius: 34px;}
.ibwp-check-slider.ibwp-check-switch-round:before{border-radius: 50%;}

/* Testimonial CSS */
.wp-list-table td.column-ibwp_tmw_rating i{color: #ffb900; font-size: 17px;}
.wp-list-table td .ibwp-tmw-avatar-image{border-radius:3px; object-fit: cover; object-position: center center;}

/* Custom CSS JS */
.ibwp-ccj-post-row{display:inline-block; max-width:200px; width:100%; margin:0 0 5px 0;}
.ibwp-ccj-ace-editor{border:1px solid #ccc;}

@media only screen and (max-width: 414px) {
	.ibwp-module-vtabs-nav-wrap{width: 100%; float:none;}
	.ibwp-module-cnt-wrp{margin-left: 0;}
	.ibwp-module-cnt-wrp{border:0;}
	.ibwp-module-vtabs-nav-wrap li a{border-style: none none solid none;}
}
@media only screen and (max-width: 568px) {
	.ibwp-save-info-btn-wrap{display:block; margin:10px 0 0 0;}
	.ibwp-save-notify-btn{margin: 0;}
	.ibwp-save-info-wrap{right:0; left:0;}
}
@media only screen and (max-width: 736px) {
	.ibwp-welcome-btn{margin:0 0 5px 0; width:100%; min-width:auto;}
}