.ibwp-hide{display:none;}
.ibwp-clearfix:before, .ibwp-clearfix:after{content: ""; display: table;}
.ibwp-clearfix::after{clear: both;}
.ibwp-clear{clear: both;}
.fa { font-family: FontAwesome; }

.ibwp-column, .ibwp-columns{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:none;}
.ibwp-column{position:relative; float: left;}
.ibwp-columns{position:relative; padding-left: 0.9375em; padding-right: 0.9375em; float: left; width:100%;}
@media only screen and (min-width: 40.0625em) {
    .ibwp-col-1 {width: 8.33333%;}
    .ibwp-col-2 {width: 16.66667%;}
    .ibwp-col-3 {width: 25%;}
    .ibwp-col-4 {width: 33.33333%;}
    .ibwp-col-5 {width: 41.66667%;}
    .ibwp-col-6 {width: 50%;}
    .ibwp-col-7 {width: 58.33333%;}
    .ibwp-col-8 {width: 66.66667%;}
    .ibwp-col-9 {width: 75%;}
    .ibwp-col-10 {width: 83.33333%;}
    .ibwp-col-11 {width: 91.66667%;}
    .ibwp-col-12 {width: 100%;}
}

.ibwp-icolumn,
.ibwp-icolumns{position: relative; padding-left: 0.9375em; padding-right: 0.9375em; display: inline-block; width:100%; vertical-align:top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing:border-box;}
@media only screen and (min-width: 40.0625em) {
    .ibwp-icol-1{ width: 100%;}
    .ibwp-icol-2{ width: 50%;}
    .ibwp-icol-3{ width: 33.33333%;}
    .ibwp-icol-4{ width: 25%;}
    .ibwp-icol-5{ width:20%;}
    .ibwp-icol-6{ width: 16.66667%;}
    .ibwp-icol-7{ width: 14.2857%;}
    .ibwp-icol-8{ width: 12.5%;}
    .ibwp-icol-9{ width: 11.11%;}
    .ibwp-icol-10{ width: 10%;}
    .ibwp-icol-11{ width: 9.090%;}
    .ibwp-icol-12{ width: 8.33333%;}
}
@media only screen and (min-width: 40.0625em) {
    .ibwp-ccol-1{ width: 10%;}
    .ibwp-ccol-2{ width: 20%;}
    .ibwp-ccol-3{ width: 30%;}
    .ibwp-ccol-4{ width: 40%;}
    .ibwp-ccol-5{ width:50%;}
    .ibwp-ccol-6{ width: 60%;}
    .ibwp-ccol-7{ width: 70%;}
    .ibwp-ccol-8{ width: 80%;}
    .ibwp-ccol-9{ width: 90%;}
    .ibwp-ccol-10{ width: 100%;}
}