
/* Vertical Tab */
.ibwp-sp-stabs-wrap{background-color: #f5f5f5; border:1px solid #e2dddb;}
.ibwp-sp-stabs-wrap .form-table{clear: none;}
.ibwp-sp-stabs-nav-wrap *{box-sizing: border-box;}
.ibwp-sp-stabs-nav-wrap{float: left; list-style: outside none none; padding: 0 !important; position: relative; width: 180px; word-wrap: break-word; margin: 0 !important; background-color: #f5f5f5;}
.ibwp-sp-stabs-nav-wrap li{display: block; margin: 0; padding: 0; position: relative; width: 100%;}
.ibwp-sp-stabs-nav-wrap li a .dashicons{margin:0 5px 0 0;}
.ibwp-sp-stabs-nav-wrap li a{color: #222; display: block; padding: 15px 10px; width: 100%; text-decoration: none; box-shadow: none; border-width: 1px; border-color: #e2dddb; border-style: none solid solid none; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.ibwp-sp-stabs-nav-wrap li a:hover{box-shadow:3px 0 0 0 #222 inset;}
.ibwp-sp-stabs-nav.ibwp-sp-active-stab a{border-style:none none solid none; background-color:#fff; box-shadow:3px 0 0 0 #222 inset; font-weight:600;}
.ibwp-sp-stabs-cnt{display: none;}
.ibwp-sp-cont-wrap *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.ibwp-sp-cont-wrap{background: #fff none repeat scroll 0 0; margin-left: 179px; padding: 10px 20px 10px 20px; min-height: 325px; border-left: 1px solid #e2dddb;}
.ibwp-sp-info-wrap{border-bottom: 1px solid #e2dddb; padding: 0 0 5px;}
.ibwp-sp-info-wrap .ibwp-sp-title{font-size: 14px; font-weight: 600; margin: 0 0 5px;}
.ibwp-sp-sett-wrp .ibwp-sp-sett-footer{padding:15px 0;}

/* width 100% */
.w100p{
    width: 100%;
}

/**** Record Tab CSS *******/
.ibwp-sp-record-td-half { width: 50%; }
.ibwp-sp-record-tbl { clear: none; }
.ibwp-sp-record-tbl label { display: inline-block; font-weight: 600; margin: 0 0 5px; clear: both; }
.ibwp-sp-record-row { margin-bottom: 20px; }
.ibwp-sp-record-row-header { background: #f1f1f1; border: 1px solid #e5e5e5; display: table; width: 100%; }
.ibwp-sp-record-index { padding: 8px; box-sizing: border-box; float: left; font-weight: 600; }
.ibwp-sp-record-row-actions { float: right; text-align: right; padding: 8px; box-sizing: border-box; color: #777; font-size: 12px; }
.ibwp-sp-record-row-actions .ibwp-sp-toggle-setting { color: #777; text-decoration: none; width: auto; cursor: pointer; }
.ibwp-sp-record-row-actions .ibwp-sp-remove-row { font-size: 12px; width: auto; cursor: pointer; color: #a00; }
.ibwp-sp-record-row-standard-fields { background: #f9f9f9; padding: 8px; border-width: 0 1px 1px; border-style: solid; border-color: #e5e5e5; }
.ibwp-sp-record-row-standard-fields { display: none; }

/* accordian */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    vertical-align: middle;
    margin-bottom: 5px;
    border-radius: 5px;
    height: auto;
    overflow:auto;
}
.active, .accordion:hover {
    background-color: #ccc;
}
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
} 

.sec-rec{
    float: left;
    padding: 5px 15px;
}

.del-button {
    float: right;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(253, 48, 48);
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 1px #999; */
}
  
.del-button:hover {background-color: rgb(253, 48, 48);color: #fff;}
  
.del-button:active {
    background-color: rgb(253, 48, 48);
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

/* Start Wheel Coupon Settings CSS */
.ibwp-sp-tbl { clear: none; }
.ibwp-sp-tbl label { display: inline-block; font-weight: 600; margin: 0 0 5px; clear: both; }
.ibwp-sp-row { margin-bottom: 20px; }
.ibwp-sp-row-header { background: #f1f1f1; border: 1px solid #e5e5e5; display: table; width: 100%; }
.ibwp-sp-index { padding: 8px; box-sizing: border-box; float: left; font-weight: 600; }
.ibwp-sp-row-actions { float: right; text-align: right; padding: 8px; box-sizing: border-box; color: #777; font-size: 12px; }
.ibwp-sp-row-actions .ibwp-sp-toggle-setting { color: #777; text-decoration: none; width: auto; cursor: pointer; }
.ibwp-sp-row-actions .ibwp-sp-remove-row { font-size: 12px; width: auto; cursor: pointer; color: #a00; }
.ibwp-sp-row-standard-fields { background: #f9f9f9; padding: 8px; border-width: 0 1px 1px; border-style: solid; border-color: #e5e5e5; }
.ibwp-sp-row-standard-fields { display: none; }
/* End Wheel Coupon Settings CSS */