.ibwp-sp-main-wrap {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 278px;
    max-width: 100%;
    min-height: 90px;
    height: 100px;
    font-size: 13px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100001;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
}
.ibwp-sp-main-wrap .ibwp-sp-preview-text {
    position: absolute;
    top: -24px;
    left: -1px;
    text-transform: uppercase;
    font-size: 12px;
    color: #000 !important;
}
.ibwp-sp-inner-wrap {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.ibwp-sp-inner-wrap .ibwp-sp-popup-close {
    display: block;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    position: absolute;
    top: 2px;
    right: 3px;
    margin: 0;
    padding: 0px 6px;
    text-decoration: none!important;
    vertical-align: text-top;
    text-shadow: 0 0px 0 #fff;
    border-radius: 15px;
    opacity: 1;
    z-index: 9999;
}
.ibwp-sp-inner-wrap .ibwp-sp-content-wrap {
    display: table;
    height: 100%;
    width: 100%;
}
.ibwp-sp-content { color: #000000; }
.ibwp-sp-inner-wrap .ibwp-sp-content-wrap .ibwp-sp-link { display: table; width: 100%; height: 100%; }
.ibwp-sp-inner-wrap .ibwp-sp-img {
    display: table-cell;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
.ibwp-sp-inner-wrap .ibwp-sp-img img {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
.ibwp-sp-inner-wrap .ibwp-sp-content {
    display: table-cell;
    padding: 0 15px;
    text-align: left;
    vertical-align: middle;
    font-size: 11px;
    line-height: 20px;
}
.ibwp-sp-inner-wrap .ibwp-sp-title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}
.ibwp-sp-main-wrap small {
    font-size: 10px;
}
.ibwp-sp-inner-wrap .ibwp-sp-name {
    font-size: 12px;
}
.ibwp-sp-star-rating {
    font-size: 12px;
    color:  #000000;
}
.ibwp-sp-notification-hide-desktop{display: none;}
@media only screen and (max-width: 767px) {
    .ibwp-sp-notification-hide-mobile{
        display: none;   
    }
}
