.ibwp-tmw-settings-form-general-sett-tbl td b{float:left;}
.ibwp-tmw-ajax-btn-wrap input.ibwp-tmw-crl-cache{float:left;}
.ibwp-tmw-ajax-btn-wrap span.spinner{float: left;}
.ibwp-tmw-cache-place{max-height:300px;overflow-y:auto;}
.ibwp-tmw-msg-wrap{position: fixed;top: 160px;background: #00800080;width: 30%;box-sizing: border-box;right: 50%;left: 50%;font-size: 18px;background-color: #ace0ac;border: 1px solid #348c34;color: #348c34;font-weight: bold;padding: 6px 10px;text-align: left;display:none;z-index:99;text-align: center;}

.ibwp-tmw-cache-all-place h3{display: inline-block;margin-left: 10px;}
.ibwp-tmw-cache-all-place .ibwp-tmw-crl-all-cache{margin: 1em 0;float: right;}
.ibwp-tmw-place-hide{display:none;}

/****** Settings Page CSS ******/
.ibwp-tmw-fb-pages-wrap { display: inline-block; width: 100%; }
.ibwp-tmw-fb-pages-wrap .ibwp-tmw-page-lists { display: inline-block; width: 48%; float: left; margin: 0 10px; }
.ibwp-tmw-fb-pages-wrap .ibwp-tmw-page-lists .ibwp-tmw-lists-inner { border: 2px solid #dcdcdc; padding: 10px; text-align: center; }
.ibwp-tmw-fb-pages-wrap .ibwp-tmw-page-lists .ibwp-tmw-lists-inner .tmw-page-name { font-size: 18px; font-weight: bold; }
.ibwp-tmw-fb-pages-wrap .ibwp-tmw-page-lists .ibwp-tmw-lists-inner .ibwp-tmw-page-lists-photo,
.ibwp-tmw-fb-pages-wrap .ibwp-tmw-page-lists .ibwp-tmw-lists-inner .tmw-page-name,
.ibwp-tmw-fb-pages-wrap .ibwp-tmw-page-lists .ibwp-tmw-lists-inner .tmw-fb-slider-short { margin-bottom: 5px; }

.ibwp-tmw-admin-column,
.ibwp-tmw-admin-columns {  padding-left: 10px; padding-right: 10px; width:100%;   float: left; position: relative;  }

/* new sortcode gen */
.ibwp-pro-img-view img{padding: 5px; margin: 5px 0; max-width:150px; max-height:150px; border:1px solid #ccc;}
.wp-list-table td.column-ibwp_rating i{font-size:17px; color:#ffb900;}
.wp-list-table .type-testimonial .row-actions{color:#999;}
.wp-list-table .ibwp_image img{height:auto; width:auto; border:1px solid #ddd; max-height:50px; max-width:50px; padding:2px;}

/***** Shortocde Mapper *****/
.ibwp-hide{display:none;}
.ibwp-customizer-control *{box-sizing: border-box;}
.ibwp-customizer-control{float: left; list-style: outside none none; padding:0; position: relative; width: 300px; word-wrap: break-word; margin:0; transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s;}
.ibwp-cust-accordion{background-color: #f5f5f5; border:1px solid #e2dddb; max-height:653px; overflow:auto;}
.ibwp-customizer-preview{margin-left: 350px;}
.ibwp-customizer-preview *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; outline:none;}
.ibwp-customizer-preview iframe{position: absolute; height: 100%; width: 100%; padding: 15px 0;}
.ibwp-customizer-window{position: relative; min-height: 550px; background-color: #fff; border: 1px solid #e2dddb;}
.ibwp-customizer-shrt-wrp{margin:0 0 5px 0;}
.ibwp-customizer-shrt{width: 100%; resize: none; height: 65px;}
.ibwp-customizer-loader{display: none; position: absolute; height: 100%; width: 100%; opacity: 0.8; background: url("../images/spinner.gif") center center no-repeat; background-color: #fff; background-position: center center;}
.ibwp-customizer-error{display: none; position: absolute; color: #a94442; background-color: #f2dede; border:1px solid #ebccd1; max-width:300px; width: 100%; left:0; right:0; top: 49%; margin:auto; padding:10px; text-align: center;}
.ibwp-customizer-heading{margin: 0 0 10px 0; font-size: 14px; font-weight: 600;}
.ibwp-customizer-heading .ibwp-cust-heading-info{cursor:help;}
.ibwp-customizer-shrt-tool{float:right;}
.ibwp-customizer-shrt-tool .button{border-radius:0; border:0;}
.ibwp-cust-dwp{cursor: pointer; height: auto; width: auto; border: 1px solid #ccc; padding: 2px; background-color: #fff; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s;}
.ibwp-cust-dwp-active{background-color: #32373C; border: 1px solid #32373C; color: #fff;}

.ibwp-accordion-header{background-color: #fff; padding: 12px; font-size: 14px; font-weight: 600; cursor: pointer; border-color: #e2dddb; border-style: none none solid none; border-width: 1px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.ibwp-accordion-header span.ui-icon{float: right;}
.ibwp-accordion-header.ui-accordion-header-active{border:0;}
.ibwp-accordion-cnt{display: none; background-color: #fff; padding: 12px; border-bottom:1px solid #e2dddb;}

.ibwp-customizer-control .ibwp-customizer-row{margin: 0 0 15px 0;}
.ibwp-customizer-control .description{margin: 2px 0 0 0; display: block; color: #555d66; font-size: 12px; line-height: 1.5;}
.ibwp-customizer-control .ibwp-customizer-lbl{display: block; font-size: 14px; line-height: 24px; font-weight: 600; margin-bottom: 4px;}
.ibwp-customizer-control .ibwp-cust-field-lbl{margin:0 5px 0 0;}
.ibwp-customizer-control input[type="number"], .ibwp-customizer-control input[type="search"], .ibwp-customizer-control input[type="tel"], .ibwp-customizer-control input[type="url"], .ibwp-customizer-control input[type="text"], .ibwp-customizer-control input[type="password"], .ibwp-customizer-control input[type="email"], .ibwp-customizer-control select{
	width: 100%; line-height: 18px; margin: 0;
}
.ibwp-cust-full-preview .ibwp-customizer-control{
	-webkit-transform: translateX(-150%);
	transform: translateX(-150%);
	height: 0;
}
.ibwp-cust-full-preview .ibwp-customizer-preview{margin-left:0; transition: all 0.5s ease-in-out 0s; -webkit-transition: all 0.5s ease-in-out 0s;}

.ibwp-customizer-toolbar{margin: 0 0 15px 0; text-align: right;}
.ibwp-customizer-toolbar .ibwp-cust-shrt-switcher{min-width: 200px; max-width: 200px; margin-top:0; margin-bottom:0; min-height:30px;}
.ibwp-customizer-toolbar .ibwp-cust-shrt-generate-help i{font-size: 30px; height: auto; width: auto; cursor: pointer; vertical-align: middle;}

@media only screen and (max-width:320px) {
	.ibwp-customizer-toolbar .ibwp-cust-shrt-switcher{min-width: auto; max-width: 160px;}
}
@media only screen and (max-width: 568px) {
	.ibwp-customizer-control{max-height: none; width: 100%; float: none;}
	.ibwp-customizer-preview{margin: 20px 0 0 0;}
	.ibwp-customizer-shrt-tool .ibwp-cust-dwp{display: none;}
	.ibwp-customizer-toolbar{margin: 15px 0;}
}