.ibwp-tmw-avtar-image{text-align:center;}
.ibwp-tmw-testimonials-list, .ibwp-tmw-testimonials-slidelist{clear:both;}
.ibwp-tmw-testimonials-list *, .ibwp-tmw-testimonials-slidelist *, .ibwp-tmw-tmnl-slide-widget *, .ibwp-tmw-testimonial-form-wrp *{outline: none !important;  box-sizing: border-box;}
.ibwp-tmw-tmnl-slide-widget .slick-slide{padding:0 5px;}

.ibwp-tmw-testimonials-slidelist img,
.ibwp-tmw-testimonials-list img,
.ibwp-tmw-tmnl-slide-widget img{max-width:100%; box-shadow:none !important; border-radius:0 !important;}

.ibwp-tmw-testimonials-slidelist a,
.ibwp-tmw-testimonials-list a,
.ibwp-tmw-tmnl-slide-widget a{text-decoration: none !important;}
.ibwp-tmw-tmnl-slide-widget .ibwp-tmw-testimonials-text, .ibwp-tmw-tmnl-slide-widget .ibwp-tmw-testimonial-job, .ibwp-tmw-tmnl-slide-widget .ibwp-tmw-testimonial-cdec{line-height: normal;}

/* Pagination CSS */
.ibwp-tmw-paging{width:100%; padding:15px 0; text-align:center; color:#666; clear:both;}
.ibwp-tmw-paging a{color: #fff !important; background-color: #333; padding: 7px 10px; margin:0 1px 6px 2px; display: inline-block;text-align: center;line-height: normal; box-shadow: none; text-shadow: none; font-size: 14px; border: 1px solid #333; text-decoration: none !important; -webkit-transition: all .3s ease; transition: all .3s ease; outline:0;}
.ibwp-tmw-paging .page-numbers.current{color:#666; background: transparent; padding: 7px 10px; margin:0 1px 6px 2px; display: inline-block;text-align: center;line-height: normal; box-shadow: none; text-shadow: none; font-size: 14px; text-transform: uppercase;border: 1px solid #666; text-decoration: none !important;}
.ibwp-tmw-paging a:hover,
.ibwp-tmw-paging a:focus,
.ibwp-tmw-paging a:visited:hover{color: #666 !important;background: #fff; outline:0;}
.ibwp-tmw-paging a.prev, .ibwp-tmw-paging a.next{min-width:80px;}
.ibwp-tmw-paging .ibwp-tmw-next-btn{float:right;}
.ibwp-tmw-paging .ibwp-tmw-prev-btn{float:left;}
.ibwp-tmw-paging .ibwp-tmw-pagi-btn a{min-width:80px;}

/* common css for all designs */
.ibwp-tmw-testimonials-text  p{font-size: 15px !important; text-align:center !important;}
.ibwp-tmw-testimonial-title  {font-size: 20px; line-height:25px ; margin:8px 0 !important;}
.ibwp-tmw-testimonial-rating, 
.testimonial-soslink{text-align:center;}

.ibwp-tmw-testimonial-rating .fa{margin:0 2px;}
.ibwp-tmw-testimonial-rating .fa.fa-star, 
.ibwp-tmw-testimonial-rating .fa.fa-star-o {color:#ffb900;}

.ibwp-tmw-testimonial-author { font-size: 16px; }
.ibwp-tmw-testimonial-author, 
.ibwp-tmw-testimonial-cdec, 
.ibwp-tmw-testimonial-rating, 
.ibwp-tmw-testimonial-job {margin:3px 0;}

.ibwp-tmw-testimonials-text em p{margin:0 !important;}

.ibwp-tmw-testimonials-text > em:before {color: #ccc;content: "\201C";font-size: 3em;line-height: 0.1em;margin-right: 0.15em;vertical-align: -0.4em;}
.ibwp-tmw-testimonials-text > em:after {content: "\201D";font-size: 3em;line-height: 0.1em;margin-left: 0.15em;vertical-align: -0.5em; color: #ccc;}

.ibwp-tmw-testimonial-left > span {font-size: 14px; }
.author > div {font-size: 16px; font-weight: bold;line-height: 22px;}
.ibwp-tmw-testimonial-job , 
.testimonial-url{font-size: 14px; }

.testimonial-company{font-size: 14px; font-weight: bold;}
.ibwp-tmw-quote{margin-bottom: 20px;float: left;width: 100%; }
.ibwp-tmw-testimonial-author{ color: #000; clear:both;}
.ibwp-tmw-testimonial-content {clear: both; text-align: center; width: 100%; display:table;}

img.ibwp-tmw-circle{border-radius: 50% !important;}
img.ibwp-tmw-square{border-radius:0%;}
.ibwp-tmw-avtar-image { width: 100px; height: 100px; margin: 0 auto; }
.ibwp-tmw-avtar-image img { width: 100%; height: 100%; }

.ibwp-tmw-testimonials-list .ibwp-tmw-first{clear:both !important;}
.ibwp-tmw-testimonials-list .slick-slide img{ display: inline-block;}
.ibwp-tmw-testimonials-slidelist .slick-slide img, 
.ibwp-tmw-tmnl-slide-widget .slick-slide img
{display:inline-block !important;}

.ibwp-tmw-testimonials-slidelist .slick-slide{padding:0 10px;}
.ibwp-tmw-testimonials-slidelist.slick-slider{padding:0 15px;}
.ibwp-tmw-tmnl-slide-widget.slick-slider{padding:0 20px;}

/* all design slick slider */
.ibwp-tmw-testimonials-slidelist, .ibwp-tmw-tmnl-slide-widget{visibility: hidden; opacity:0;  transition:opacity 0.5s linear;}
.ibwp-tmw-testimonials-slidelist.slick-initialized, .ibwp-tmw-tmnl-slide-widget.slick-initialized{visibility: visible !important; opacity:1 !important;}

.ibwp-tmw-testimonials-slidelist .slick-arrow{top: calc(45% + -15px) !important; text-indent:-99999px; padding:0px !important; margin:0px !important; border-radius:0px !important;}
.ibwp-tmw-testimonials-slidelist button.slick-arrow{background-color: transparent!important; width:40px; height:40px; position:absolute; z-index:999;border:0px !important;padding:0 !important; margin:0px !important; border-radius:50% !important; cursor:pointer;}
.ibwp-tmw-testimonials-slidelist button.slick-next{background: #cccccc url(../images/arrow-right.png) center center no-repeat !important;right: -23px !important;left: auto;opacity: 0;transition: all .3s ease;}
.ibwp-tmw-testimonials-slidelist button.slick-next:hover,  .ibwp-tmw-testimonials-slidelist button.slick-next:focus{background: #cccccc url(../images/arrow-right.png) center center no-repeat !important;color: #fff;outline: 0 !important;box-shadow: none;}
.ibwp-tmw-testimonials-slidelist:hover button.slick-next{opacity: 1;right:0px !important;transition: all .3s ease;}
.ibwp-tmw-testimonials-slidelist button.slick-prev{background: #cccccc url(../images/arrow-left.png) center center no-repeat !important;left: -23px;opacity: 0;transition: all .3s ease;}
.ibwp-tmw-testimonials-slidelist button.slick-prev:hover, .ibwp-tmw-testimonials-slidelist button.slick-prev:focus{background: #cccccc url(../images/arrow-left.png) center center no-repeat !important;color: #fff;outline: 0 !important;box-shadow: none;}
.ibwp-tmw-testimonials-slidelist:hover button.slick-prev{opacity: 1;left:0px !important;transition: all .3s ease;}
.ibwp-tmw-testimonials-slidelist .slick-dots{padding:0 !important; margin:0 !important; text-align:center; text-align:center; line-height: 0;}
.ibwp-tmw-testimonials-slidelist .slick-dots li button{text-indent:-99999px;}
.ibwp-tmw-testimonials-slidelist .slick-dots li {list-style: none !important; display: inline-block !important; margin: 0 2px !important;padding: 0px !important;width: 12px !important;height: 12px !important;}
.ibwp-tmw-testimonials-slidelist .slick-dots li:after , 
.ibwp-tmw-testimonials-slidelist .slick-dots li:before{background: none !important;}
.ibwp-tmw-testimonials-slidelist .slick-dots li button{background: #fff !important;margin: 0px !important;padding: 0px !important;border: 2px solid #525252;border-radius: 50% !important;width: 12px !important;height: 12px !important; cursor:pointer;}
.ibwp-tmw-testimonials-slidelist .slick-dots li button:focus{outline:none !important;}
.ibwp-tmw-testimonials-slidelist .slick-dots li.slick-active button{background: #525252 !important;}

.ibwp-tmw-tmnl-slide-widget .slick-arrow{text-indent:-99999px; padding:0px !important; margin:0px !important; border-radius:0px !important;}
.ibwp-tmw-tmnl-slide-widget button.slick-arrow {background-color: transparent !important;width: 25px;height: 25px;position: absolute;z-index: 999;border: 0px !important;padding: 0 !important;margin: 0px !important;border-radius: 50% !important;}
.ibwp-tmw-tmnl-slide-widget button.slick-next{background: rgba(00, 00, 0, 0.5) url(../images/arrow-right.png) center center no-repeat !important;right: -23px !important;left: auto;opacity: 0;transition: all .3s ease;}
.ibwp-tmw-tmnl-slide-widget button.slick-next:hover,  
.ibwp-tmw-tmnl-slide-widget button.slick-next:focus{background: #525252 url(../images/arrow-right.png) center center no-repeat !important;color: #fff;outline: 0 !important;box-shadow: none;}
.ibwp-tmw-tmnl-slide-widget:hover button.slick-next{opacity: 1;right:0px !important;transition: all .3s ease;}
.ibwp-tmw-tmnl-slide-widget button.slick-prev{background: rgba(00, 00, 0, 0.5) url(../images/arrow-left.png) center center no-repeat !important;left: -23px;opacity: 0;transition: all .3s ease;}
.ibwp-tmw-tmnl-slide-widget button.slick-prev:hover, 
.ibwp-tmw-tmnl-slide-widget button.slick-prev:focus{background: #525252 url(../images/arrow-left.png) center center no-repeat !important;color: #fff;outline: 0 !important;box-shadow: none;}
.ibwp-tmw-tmnl-slide-widget:hover button.slick-prev{opacity: 1;left:0px !important;transition: all .3s ease;}
.ibwp-tmw-tmnl-slide-widget .slick-dots{padding:0 !important; margin:0 !important; position:absolute; bottom:10px; text-align:center;}
.ibwp-tmw-tmnl-slide-widget .slick-dots li button{text-indent:-99999px;}
.ibwp-tmw-tmnl-slide-widget .slick-dots li {list-style:none !important; display:inline-block !important; margin:0 2px !important; padding:0px !important;  width:10px !important; height:10px !important;}
.ibwp-tmw-tmnl-slide-widget .slick-dots li:after,
.ibwp-tmw-tmnl-slide-widget .slick-dots li:before{background: none !important;}
.ibwp-tmw-tmnl-slide-widget .slick-dots li button{background:#fff !important; margin:0px !important; padding:0px !important; border:1px solid #000; border-radius:50% !important; width:10px !important; height:10px !important;}
.ibwp-tmw-tmnl-slide-widget .slick-dots li button:focus{outline:none !important;}
.ibwp-tmw-tmnl-slide-widget .slick-dots li.slick-active button{background:#444 !important;}

.ibwp-tmw-tmnl-slide-widget .slick-arrow{ top:50% !important; margin-top: -40px !important;}
.ibwp-tmw-tmnl-slide-widget .slick-next{right:0px !important;}
.ibwp-tmw-tmnl-slide-widget .slick-prev{ left:0px !important;}
.ibwp-tmw-tmnl-slide-widget .slick-dots{left:15px !important; right:15px !important; text-align:center;  bottom:0px !important;}

.ibwp-tmw-slider-wrp {width:100%;float: left;clear: both;}
.ibwp-tmw-slider-wrp .ibwp-tmw-slider-conf{width:100%;float: left;clear: both;display: none;}

/* design-1 */
.ibwp-tmw-design-1{margin-bottom:30px;}
.ibwp-tmw-design-1 .ibwp-tmw-testimonial-client { font-size: 20px; margin-bottom: 5px; }
.ibwp-tmw-design-1 .ibwp-tmw-testimonial-author, 
.ibwp-tmw-design-1 .ibwp-tmw-testimonial-job,
.ibwp-tmw-design-1 .ibwp-tmw-testimonial-date {text-align: center;}
.ibwp-tmw-design-1 .ibwp-tmw-testimonial-title{margin-top: 0px !important; }
.ibwp-tmw-design-1 .ibwp-tmw-testimonial-author{padding-top: 0px;}
.ibwp-tmw-design-1 .fa-quote-left{width:30px; height:40px; font-size:25px; padding:10px 0px; color:#94c523;}
.ibwp-tmw-design-1 .ibwp-tmw-testimonials-text{margin-bottom:5px;word-break: break-all;}
.ibwp-tmw-design-1 .ibwp-tmw-testimonial-job a{color:#555;}

/* design-2 */
.ibwp-tmw-design-2{margin-bottom:30px;}
.ibwp-tmw-design-2 .ibwp-tmw-testimonial-client { font-size: 20px; margin-bottom: 5px; text-align: center; }
.ibwp-tmw-design-2 .ibwp-tmw-testimonial-author,
.ibwp-tmw-design-2 .ibwp-tmw-testimonial-job,
.ibwp-tmw-design-2 .ibwp-tmw-testimonial-date {text-align: center;}
.ibwp-tmw-design-2 .ibwp-tmw-testimonial-author{padding-top: 0px;}
.ibwp-tmw-design-2 .ibwp-tmw-avtar-image {margin-bottom:10px;}
.ibwp-tmw-design-2 .ibwp-tmw-testimonial-job a{color:#555;}
.ibwp-tmw-design-2 .ibwp-tmw-testimonials-text{word-break: break-all;}

/* design-3 */
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-box{ margin-bottom:50px;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-client { font-size: 20px; margin-bottom: 5px; text-align: center; }
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner{border:1px solid #ddd; position:relative; margin-top:60px;  padding:65px 15px 15px 15px; height:90%; text-align:center;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner:after,
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner:before{top: 100%;left: 80%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner:after{border-color: rgba(136, 183, 213, 0); border-top-color: #fff; border-width: 30px; margin-left: -30px;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner:before{border-color: rgba(194, 225, 245, 0); border-top-color: #ddd; border-width: 30px; margin-left: -36px;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar{position:absolute; top:-60px; left:0; right:0; width:100%; height:120px;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar .ibwp-tmw-avtar-image{width:120px; margin:0 auto;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar .ibwp-tmw-avtar-image{width:120px; margin:0 auto;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar{position:absolute; top:-60px; left:0; right:0;  height:120px;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar .ibwp-tmw-avtar-image{width:120px; margin:0 auto;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar img{width:100%; max-width:100%; height:120px;  border:1px solid #ddd; padding:5px; background:#fff;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar img.ibwp-tmw-circle{border-radius:50%; }
.ibwp-tmw-design-3 .ibwp-tmw-testimonial-cdec a{color:#555;}
.ibwp-tmw-design-3 .ibwp-tmw-testimonials-text{word-break: break-all;}


/* design-4 */
.ibwp-tmw-testimonials-list.ibwp-tmw-design-4 .ibwp-tmw-testimonial-box{ margin-bottom:50px;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-inner{border:1px solid #ddd; position:relative; margin-left:50px;  padding:15px 15px 15px 70px; height:90%;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-inner:after,
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-inner:before {top: 100%;  left: 80%;  border: solid transparent;  content: " "; height: 0;  width: 0; position: absolute; pointer-events: none;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-inner:after {  border-color: rgba(136, 183, 213, 0); border-top-color: #fff; border-width: 30px; margin-left: -30px;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-inner:before{ border-color: rgba(194, 225, 245, 0); border-top-color: #ddd; border-width: 30px; margin-left: -36px;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar{position:absolute; top:10px; left:-50px; width:100px;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-inner .ibwp-tmw-testimonial-avatar img{width:100%; max-width:100%; padding:5px; border:1px solid #ddd; background:#fff;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-client { font-size: 20px; margin-bottom: 5px; }
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-rating{text-align:left;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-content{text-align:left;word-break: break-all;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonials-text { text-align:left;}
.ibwp-tmw-design-4 .ibwp-tmw-testimonial-cdec a{color:#555;}

.ibwp-column, .ibwp-columns{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; outline:none;}
.ibwp-column{position:relative; float: left;}
.ibwp-columns{position:relative; padding-left: 0.9375em; padding-right: 0.9375em; float: left; width:100%;}
@media only screen and (min-width: 40.0625em) {
    .ibwp-col-1 {width: 8.33333%;}
    .ibwp-col-2 {width: 16.66667%;}
    .ibwp-col-3 {width: 25%;}
    .ibwp-col-4 {width: 33.33333%;}
    .ibwp-col-5 {width: 41.66667%;}
    .ibwp-col-6 {width: 50%;}
    .ibwp-col-7 {width: 58.33333%;}
    .ibwp-col-8 {width: 66.66667%;}
    .ibwp-col-9 {width: 75%;}
    .ibwp-col-10 {width: 83.33333%;}
    .ibwp-col-11 {width: 91.66667%;}
    .ibwp-col-12 {width: 100%;}
}

.ibwp-tmw-testimonials-slidelist.ibwp-tmw-center .slick-slide, .ibwp-tmw-tmnl-slide-widget.ibwp-tmw-center .slick-slide{opacity: 0.5;filter: alpha(opacity=50);-webkit-transform: scale(0.7); -ms-transform: scale(0.7); transform: scale(0.7); -webkit-transition: all 300ms ease 0s; transition: all 300ms ease 0s;}
.ibwp-tmw-testimonials-slidelist.ibwp-tmw-center .slick-center, .ibwp-tmw-tmnl-slide-widget.ibwp-tmw-center .slick-center{opacity: 1;filter: alpha(opacity=100); -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1);}
.ibwp-tmw-clearfix:before, .ibwp-tmw-clearfix:after{content: "";display: table;}
.ibwp-tmw-clearfix:after{clear: both;}
.ibwp-tmw-tstmnl-row{margin:10px 0;}